<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-center">Your Subscribe Email list </h4>

            </div>
            <div class="modal-body">
                <div class="tab-pane fade active in" id="verified">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Email</th>
                                    <th>Name</th>
                                    <th class="wDateTime text-center">Subscribe Date</th>
                                    <th class="wAction">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of newsList">
                                    <td *ngIf="row.added != true">{{row.email}} </td>
                                    <td *ngIf="row.added != true">{{row.name}} </td>
                                    <td *ngIf="row.added != true" class="text-center">{{row.issue_date}}</td>
                                    <td *ngIf="row.added != true">
                                        <a class="card btn btn-social-icon btn-danger btn-google" (click)="addEmail(row)"><i class="fa-plus fa"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <pagination class="pull-right" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
                </div>
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-danger" (click)="hide()"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>