<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Table list</h3>
                    <h5>Danh sach table</h5>
                </div>
                <div class="box-header">
                    <div class="box-header-left">
                        <ng-select class="ng-select" #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="ALL" [active]="[value]">
                        </ng-select>
                    </div>
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" (click)="createTable()"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-4 col-sm-6 col-xs-12 animation-fadein" *ngFor="let item of tables">
                        <div class=" box-body-height">
                            <div class="panel {{item.isReservation == 1 ? 'animation-reserved': ''}}">
                                <div class="info-box">
                                    <span class="info-box-icon"><img alt="" class=" img-responsive pull-left" src="{{item.thumb}}" style="height: 89px;"></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text" [style.color]="item.isReservation == 1 ? 'white': ''">{{item.name}}</span>
                                        <div class="info-box-button">
                                            <button class="card btn btn-social-icon  btn-info" (click)="editTable(item)"><i class=" fa-pencil fa "></i></button>
                                            <button class="card btn btn-social-icon btn-danger" (click)="deleteTable(item)"><i class="fa fa-trash "></i></button>
                                            <button class="card btn btn-social-icon  btn-warning" (click)="reserveTable(item.id)"><i class=" fa-calendar fa "></i></button>
                                            <button id="item.id" *ngIf="item.is_active==1 " class=" btn btn-success btn-social-icon" (click)="updateTable(item,0)" style="border-radius:50px;    margin-top: 4px;"><i class="fa-unlock fa " style="color:#fff"> <strong>activated</strong></i></button>
                                            <button id="item.id" *ngIf="item.is_active==0 " class=" btn btn-social-icon " (click)="updateTable(item,1)" style="border-radius:50px;background:gray;    margin-top: 4px;"><i class="fa-lock fa " style="color:#fff"> <strong>deactivated</strong></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
        </div>
    </div>
</section>