.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.content {
    padding: 10px;
}

.info-box-text {
    text-transform: uppercase;
}

.box-header {
    background-color: #09a89e;
}

.box-header-right {
    float: right;
    height: 45px;
    margin-right: 10px;
}

.box-header-left {
    float: left;
    height: 45px;
    margin-left: 10px;
    padding-top: 12px;
    color: #fff;
}

.box-header .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-right: 2px;
}

.info-box-content .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 3px;
    margin-right: 2px;
}

.box-body {
    padding: 10px;
    background: #fff;
}

.iconItem {
    margin-right: 20px;
    font-size: 20px;
    float: left;
}

.labelItem {
    padding-top: 4px;
    float: left;
    margin-right: 20px;
}

.info-box-button {
    margin-bottom: 10px;
}

.title-icon-left {
    display: inline;
    float: left;
    padding-left: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-create-item {
    border-radius: 40px;
    margin-bottom: 0px;
}

.title-name h3 {
    display: inline;
    float: left;
}

.title-icon-left .fa {
    color: #fff;
}

.news-list .table>tbody>tr>td img {
    width: 70px;
}

.wDateTime {
    min-width: 150px;
}

.wAction {
    min-width: 107px;
}

.text-red {
    color: red;
}