<section class="content">
    <div class="row" style="background:white; padding-top:20px">

        <div class="col-md-4">
            <div class="form-group">
                <label>Tên khách hàng<span class="required" >&nbsp;<label class="text-danger">*</label></span>
                </label>
                <input type="text" class="form-control " placeholder="Tên">

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Số ĐT<span class="required" >&nbsp;<label class="text-danger">*</label></span>
                </label>
                <input type="text" class="form-control " placeholder="Số ĐT">

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Địa chỉ giao<span class="required" >&nbsp;<label class="text-danger">*</label></span>
                </label>
                <input type="text" class="form-control " placeholder="Địa chỉ">
            </div>
        </div>

    </div>

    <div class="row" style="background:white">

        <div class="col-md-3" style="margin-top: 30px;">
            <div class="form-group">
                <label>Ngày giao <span><label class="text-danger">*</label></span>
                <!-- end ngIf: m.newModel.mode.value == 1 || m.newModel.mode.value == 2 -->
                </label>
                <br>
                <p-calendar [minDate]="minDate" inputStyleClass="form-control" (onSelect)="onSelectFromDate($event)" dateFormat="dd/mm/yy" [showIcon]="false"></p-calendar>

            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group ">

                <timepicker [showMeridian]="showMeridian" (ngModelChange)="onChangeOpen($event)" (change)="onChangeOpenValue($event)"></timepicker>

            </div>
        </div>

    </div>
    <br>
    <div class="row">
        <div class="col-sm-8 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>New Order</h3>
                </div>
                <div class="box-header">
                    <div class="box-header-left">
                        <ng-select class="ng-select" #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="ALL" [active]="[value]">
                        </ng-select>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="box-body no-padding">
                            <div class="col-md-6" *ngFor="let item of itemLst">
                                <div class=" box-body-height">
                                    <div class="panel">
                                        <div class="info-box">
                                            <span class="info-box-icon"><img alt="" class=" img-responsive pull-left" src="{{item.thumb}}" style="height: 89px;"></span>

                                            <div class="info-box-content">

                                                <div *ngIf="item.option_items.length != 0" style="float: right;padding-right: 10px;">
                                                    <span class="info-box-price">Option</span>
                                                </div>
                                                <div *ngIf="item.option_items.length == 0" style="float: right;padding-right: 10px;">
                                                    <span class="info-box-price"></span>
                                                </div>
                                                <span class="info-box-itemName"><span class='fa fa-circle iconItemName'></span>{{item.name}}</span>
                                                <span class="info-box-price">{{item.price}}  ( {{item.point}} point)</span>
                                                <br>
                                                <span style=" float: right;padding-right: 10px;color: #888;">select item to order</span>

                                                <div class="info-box-button" style="text-align: right;padding-right: 20px;">

                                                    <!--input style=" text-align:center; width: 50px;    border-color: 1px solid #eee;"-->

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 " style="padding-left: 0px;margin-left: -15px;  padding-right: 0px;">
                        <div class="box-body no-padding">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class=" box-body-height">
                                    <div class="panel">
                                        <div class="info-box">
                                            <div class="info-box-content news-list">
                                                <div class="tab-content">

                                                    <div class="tab-pane fade active in" id="verified">
                                                        <div class="table-responsive">
                                                            <table class="table">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Item</th>
                                                                        <th>Quantity</th>
                                                                        <th>Price</th>
                                                                        <th class="">Subtotal</th>
                                                                        <th class="wAction">Action</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr *ngFor="let row of data">

                                                                        <td>{{row.first_name}} </td>
                                                                        <td>{{row.last_name}} </td>
                                                                        <td>{{row.name}} </td>
                                                                        <td class="text-center">{{row.issue_date}}</td>
                                                                        <td>

                                                                            <a class="card btn btn-social-icon btn-danger btn-google" (click)="doDeleteSearch(row)"><i class="fa fa-trash"></i></a>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>