<div class="layout-container">
    <div class="statistic" class="row">
        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/order/list']">
                <div class="panel panel-blue min-height-130">
                    <div class="panel-heading bg-purple ">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="icon-basket-loaded fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{orderList != null ? orderList.length : ''}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Total Ordering</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-primary"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/food-items/list']">
                <div class="panel panel-green min-height-130">
                    <div class="panel-heading bg-success">
                        <div class="row">
                            <div class="col-xs-3"> <i class="fa fa-cutlery fa-2x"></i> </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{optionFoodItemCount}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Total Items</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-success"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/contact']">
                <div class="panel panel-yellow min-height-130">
                    <div class="panel-heading bg-info">
                        <div class="row">
                            <div class="col-xs-3"> <i class="icon-user-follow fa-2x"></i> </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{contactCount}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Add Contacts</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-info"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/turn-over']">
                <div class="panel panel-red min-height-130">
                    <div class="panel-heading bg-warning">
                        <div class="row">
                            <div class="col-xs-3"><i class="fa  fa-usd fa-2x"></i></div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{totalTurnOverByMonth}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Turnover</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-warning"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/category/list']">
                <div class="panel panel-blue min-height-130">
                    <div class="panel-heading bg-danger">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-cube fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{categoryCount}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Total Categories</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-danger"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-2 col-sm-6">
            <a title="view detail" [routerLink]="['/table-list']">
                <div class="panel panel-green min-height-130">
                    <div class="panel-heading bg-success">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-table fa-2x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div class="huge">{{tableCount}}</div>
                            </div>
                        </div>
                        <div class='panel-name'>Total Tables</div>
                    </div>
                    <div class="panel-footer">
                        <span class="pull-left">View more...</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right cl-danger"></i></span>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <div class="component-content history-order ">
                <!-- order-requests-->
                <div id="order-requests">
                    <ul id="myTab" class="nav nav-tabs br-gradient">
                        <li class="bold active"><a href="#request" (click)="doModelDisplay(0,0)" data-toggle="tab" aria-expanded="true">Request: <span class="br-brown badge">{{requestOrderTempList != null ? requestOrderTempList.length : ''}}</span> </a></li>
                        <li class="bold"><a href="#request-home-delivery" (click)="doModelDisplay(0,1)" data-toggle="tab" aria-expanded="false">Home delivery: <span class="br-brown badge">{{requestOrderDelivery != null ? requestOrderDelivery.length : ''}}</span> </a></li>
                        <li class="bold"><a href="#request-pick-up" (click)="doModelDisplay(0,2)" data-toggle="tab" aria-expanded="false">Pick up: <span class="br-brown badge">{{requestOrderPickup != null ? requestOrderPickup.length : ''}}</span> </a></li>
                    </ul>
                    <div class="tab-content">
                        <!-- request-->
                        <div class="tab-pane fade active in" id="request">
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr *ngFor="let row of requestOrderList">
                                            <td><a title="click to view detail" (click)="viewDetail(row)"><i class="icon-basket-loaded " style="color:#23b7e5"></i>&nbsp; <span style="text-decoration: underline;">{{row.id}}</span></a></td>
                                            <td><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-address-card-o " style="color:#23b7e5"></i>&nbsp; {{row.name}}</a></td>
                                            <!--td><i class="fa fa-phone " style="color:#23b7e5"></i>&nbsp; {{row.phone}}</td-->

                                            <td class="text-right"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp; {{row.delivery_time.split(' ')[0]}}</a></td>
                                            <td class="text-right"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; {{row.delivery_time.split(' ')[1]}}</a></td>
                                            <td class="text-right bold"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa  fa-money" style="color:#23b7e5"></i>&nbsp;&nbsp;<span>{{row.total_price}}</span> VND</a></td>
                                            <td class="text-right">
                                                <a title="view detail" [routerLink]="['/ordering-detail', row.id]" (click)="doSetScope(row)"><i class="fa fa-map-marker fa-2x" style="color:red"></i>&nbsp;</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class='col-md-12 col-sm-12' style="padding-left: 0px;
                padding-right: 0px;">
                <ul id="myTab" class="nav nav-tabs" style=" 
                height: 42px;
                padding: 3px;
                background:rgba(255, 235, 59, 0.38);
                ">
                    <div style="padding-top:0px; float:right" *ngIf="order != null">
                        <a *ngIf="order.order_sts == 0" class="card btn btn-social-icon btn-success" (click)="doUpdateOrder(1)">Accept</a>
                        <a *ngIf="order.order_sts == 0" class="card btn btn-social-icon btn-danger btn-google" (click)="doUpdateOrder(99)">Deny</a>

                    </div>
                    <div>
                        <span style="padding: 8px; line-height:35px"> Order Detail </span>
                    </div>
                </ul>
                <div class='history-order-detail-info' *ngIf="order != null">
                    <div class='customer-info'>
                        <div class='pull-left'>
                            <div style="padding-top:5px"> <i class="icon-basket-loaded " style="color:#23b7e5"></i>&nbsp; OrderId: <span>{{order.id}}</span></div>
                            <div style="padding-top:5px" class='' *ngIf="order.order_sts != 0"><i class="fa fa-address-card-o " style="color:#23b7e5"></i>&nbsp; {{order.name}}</div>
                            <div style="padding-top:5px" class='' *ngIf="order.order_sts != 0"> <i class="fa fa-phone " style="color:#23b7e5"></i>&nbsp; {{order.phone}}</div>
                        </div>
                        <div class='pull-right status-order badge {{order.order_sts_display}}'>Status:<span> {{order.order_sts_display}} </span></div>
                        <div class='clearfix'> </div>
                    </div>
                    <div class='order-time'>
                        <div>
                            <h5 class='bold'> Request time: </h5>
                            <div>
                                <i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp; <span>{{order.order_time}}</span>
                                <i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; <span>{{order.order_time}}</span>
                            </div>
                        </div>
                        <div>
                            <h5 class='bold'> Delivery time: </h5>
                            <div>
                                <i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp;<span> {{order.delivery_time}}</span>
                                <i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; <span> {{order.delivery_time}}</span>
                            </div>
                        </div>
                    </div>
                    <div class='order-list'>
                        <div class='item' *ngFor="let row of order.items">
                            <div class="col-xs-12 col-md-12 un-padding">
                                <img class="img-responsive pull-left" src="frontend/img/dish/dish1.jpg">
                                <div class='item-detail pull-left'>
                                    <div class='item-name bold'>{{row.name}} </div>
                                    <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.price}}</span> = <span> {{row.quantity*row.price}} </span> {{order.default_currency}} </div>
                                    <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.point}}</span> = <span> {{row.quantity*row.point}} </span> </div>
                                </div>
                            </div>


                            <div *ngFor="let option of row.option_items">
                                <div class="col-xs-12 col-md-12 padding">
                                    <div>
                                        <div style="padding-left: 120px;" class='item-name '> + {{option.option_name}} - {{option.option_value_name}} </div>
                                        <div style="padding-left: 120px; border-bottom:0px" class='item-price'> <span> {{option.add_price}} {{order.default_currency}} ( {{option.point}} )</span> </div>

                                    </div>
                                </div>
                            </div>

                            <div class='item-note' *ngIf="row.note != null"> Notes: <span>{{row.note}} </span> </div>
                            <div class='clearfix'> </div>

                        </div>

                    </div>
                    <div class='order-price'>

                        <div style="padding-top:10px">
                            Estimate:
                            <span class='pull-right bold text-right'> <span>{{order.total_price}} </span> {{order.default_currency}} </span>
                            <div class='clearfix'> </div>
                        </div>
                        <div style="padding-top:10px">
                            Ship fee: <span class='color-orange'> {{distance}} km </span>
                            <span class='pull-right bold text-right'> <span>{{order.delivery_fee}} </span> {{order.default_currency}} </span>
                            <div class='clearfix'> </div>
                        </div>
                        <div style="padding-top:10px">
                            Discount code: <span class='discount-code'>  {{order.promote_code}} </span>
                            <span class='pull-right bold text-right'> <span>{{order.promo_discount}} </span> {{order.default_currency}} </span>
                            <div class='clearfix'> </div>
                        </div>
                        <div style="padding-top:10px">
                            <span class='color-orange'>  Total </span>
                            <span class='pull-right bold text-right'> <span>{{totalAmount}} </span> {{order.default_currency}} </span>
                            <div class='clearfix'> </div>
                        </div>
                        <div class='border-line'> </div>
                        <div style="padding-top:10px">
                            <span> Payment method: </span>
                            <span class='pull-right bold color-orange'> cash on delivery </span>
                            <div class='clearfix'> </div>
                        </div>
                        <div style="padding-top:10px">
                            <span> Delivery method: </span>
                            <span class='pull-right bold color-orange'> {{deliveryMethod}}  </span>

                            <div class='clearfix'> </div>
                        </div>
                        <div *ngIf="order.delivery_type == 2" style="padding-top:10px">
                            <span>  Table Name: </span>
                            <span class='pull-right bold color-orange'>   
                                    <a  class="card btn btn-social-icon btn-success" >book table</a> 
                                </span>

                            <div class='clearfix'> </div>
                        </div>
                    </div>
                    <div class='note' *ngIf="order.note != null">
                        <h5 class='bold'>Note </h5>
                        <div>
                            {{order.note}}
                        </div>
                    </div>
                    <div style=" padding-left: 10px;">
                        <label>
                            <input type="checkbox" class="checkboxright"  >
                            Print Bill
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- order-requests-->

    <!-- order-verified-->
    <!-- order-pending-->

    <!-- order-pending-->
    <!-- order-delivery-->

    <!-- order-pending-->

</div>