.ADM0300 {
   
    .top-toolbar {
        margin-bottom: 10px;

        .pull-left {
            h3 {
                margin: 0;
            }
        }
    }
    .panel {
        .popover {
            display: initial;
            left: -44px;
            top: 32px;

            .arrow {
                top: -11px;
                left: 50%;
                margin-left: -11px;
                border-top-width: 0;
                border-bottom-color: #999;
                border-bottom-color: rgba(0, 0, 0, 0.25);

                &:after {
                    border-width: 10px;
                    top: 1px;
                    margin-left: -10px;
                    content: " ";
                    border-top-width: 0;
                    border-bottom-color: #fff;
                }
            }
        }
        .panel-footer {
            .page-info {
                height: 34px;
                vertical-align: top;
                line-height: 34px;
            }
            .pagination {
                text-align: right;
                margin: 0px;
            }
        }
        .panel-filter {
            border-bottom: none;

            span {
                &.input-group-btn {
                    width: auto;
                }
            }
            .form-group {
                .input-group {
                    display: inline-table;
                    vertical-align: middle;

                    button.resize {
                        height: 30px;
                    }
                }
                p {
                    margin-bottom: 0px;
                }
                .btn-group {
                    ul {
                        list-style-type: none;
                        padding-left: 0;
                    }
                    ul.dropdown-menu {
                        min-width: 320px;
                        padding-bottom: 0;

                        li {
                            div {
                                min-height: 30px;
                                line-height: 30px;
                                border-bottom: 1px solid #ddd;

                                &:hover {
                                    background: #f5f5f5;
                                }
                            }
                            .padding-left {
                                padding-left: 10px;
                            }
                            a {
                                color: black !important;
                            }
                        }
                    }
                }
            }
        }
        .panel-filter-btn {
            display: inline-block;
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            padding: 0 10px;
        }
        .table-wrapper {
            margin-bottom: 10px;
            border: 1px solid #C2CAD8;
            margin: 10px;
            padding: 0px;

            .wrap {
                border: 1px solid rgba(0, 0, 0, 0.2);
                border-radius: 3px;
                box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
            }
            .table {
                border: 1px solid #CACACA;

                thead {
                    tr {
                        background-color: #eee;

                        .number {
                            width: 4%;
                        }
                        .title {
                            .flag-order {
                                display: none;
                            }
                            &:hover .flag-order {
                                display: inline-block;
                            }
                        }
                        .category {
                            width: 10%;
                        }
                        .date {
                            width: 16%;

                            .flag-order {
                                display: none;
                            }
                            &:hover .flag-order {
                                display: inline-block;
                            }
                        }
                        .action {
                            width: 20%;
                        }
                        .status {
                            width: 10%;
                        }
                    }
                }
                .bg-color {
                    background-color: transparent;
                }
                .potision-popover {
                    position: relative;
                }
            }
            .nocnic-list-item.right-nocnic-item {
                height: 28px;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                display: table;
                table-layout: fixed;
                width: 100%;
            }
            .nocnic-list-item.right-nocnic-item-nest {
                height: 28px;
                border-bottom: solid 1px rgba(0, 0, 0, 0.1);
                display: table;
                table-layout: fixed;
                width: 100%;
                background: #f5f5f5;
                padding-left: 10px;
            }
            .nocnic-list-item:hover {
                background: #e3e3e3;
            }
            .nocnic-list-item {
                .nest-block {
                    width: 18px;
                    display: table-cell;
                    text-align: center;
                    vertical-align: middle;
                }
                .nest-item1 {
                    display: table-cell;
                    vertical-align: middle;
                    align: middle;
                    min-width: 280px;
                }
                .nest-item2 {
                    display: table-cell;
                    width: 120px;
                    vertical-align: middle;
                    align: middle;
                    padding-top: 5px;

                    .label-checkbox {
                        display: inline-block;

                        +.label-checkbox {
                            margin-left: 15px;
                        }
                    }
                }
                .nest-itempadd {
                    display: table-cell;
                    width: 18px;
                }
            }
            .nocnic-list-nest-ul1 {
                margin: 0px;
                padding: 0px;
            }
        }
    }
}
.page-create {
    .page-header {
        margin: 0;

        h3 {
            margin: 0;
        }
    }
    .has-error {
        .btn-group {
            button {
                border: 1px solid #a94442;
            }
        }
    }
    .status-height {
        height: 35px;
    }
    .form-group {
        .control-label {
            text-align: left;
        }
        .input-group {
            button.resize {
                height: 30px;
            }
        }
    }
}
ul.dropdown-menu {
    li {
        &.active {
            a {
                color: white !important;
            }
        }
        a {
            color: black !important;
        }
    }
}