.input-group {
    width: 80%;
}

.input-group .form-control {
    width: 83%;
}

.input-group .input-group-addon {
    display: table;
}

.input-group {
    display: block;
}

.input-group-addon {
    height: 34px;
}