.chatheadButton {}

.chatheadButton .dropdown {
    margin-top: -10px;
    height: 100px;
}

.chatheadButton .dropdown-toggle {
    text-align: center;
    background-color: transparent !important;
    float: left;
    padding-top: 56px;
    color: black;
    width: 70px;
}

.chatheadButton .container-fluid .nav {
    width: 70px;
    margin-right: 0px;
}

.chatheadButton .container-fluid {
    width: 70px;
    padding-right: 0px;
    padding-left: 0px;
}

.dropdown-toggle-label {
    padding-left: 0px;
}