.modal img {
    position: absolute;
    width: 60px;
    height: 60px;
    margin-left: 49%;
    margin-top: 24%;
    -webkit-animation: loading_logo 2s infinite;
    animation: loading_logo 2s infinite;
}

.on_overlay_loading .img-responsive {
    z-index: 1002;
}