.table-wishlist tbody tr td img
{
    display: block;
    width: 100%;
}

.table-wishlist tr
{
    border-top: 1px solid gray;
}

.table-wishlist
{
    width: 100%;
    table-layout:fixed;
}

.info-wish
{
    word-wrap: break-word;
    display:block;
    padding: 0 0 0 5%;
}



.btn-danger-active
{
    color: white;
    background: #ed4747;
}

.btn.btn-danger-active:hover
{
    background: #DD2C00;
}
.btn:hover
{
    color: white;
}

.order-status>i.order {
    color: #51d466;
}

.order-status>i.view {
    color: #f75353;
}

.restaurant-name>p
{
    word-wrap: break-word;
    display:block;
}

#view
{
    color: white;
}
