        .btn-tag-actived {
          background: #ed4747;
          color: white !important;
          border: 1px solid #ed4747;
         }

      .btn-tag-unactiveorange {
          background: white;
          color: black !important;
          border: 1px solid #eb6c3a;
         }

       .btn-tag-unactivegreen {
          background: white;
          color: black !important;
          border: 1px solid #42c557;
         }

        .btn-tag-unactivegreen:hover
        {
            background: #51d466;
            color: white !important;
            border: 1px solid #42c557;
        }

        .btn-tag-unactiveorange:hover {
          background: #f78153;
          color: white !important;
          border: 1px solid #eb6c3a;
         }