.inner-page .shopping-item .item-hover1 {
    position: absolute;
    left: -180px;
    bottom: 60%;
    width: 170px;
    height: 35px;
    line-height: 35px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -ms-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    transform: shew(-20deg);
}

.inner-page .shopping-item a.link1 {
    position: absolute;
    left: -130px;
    bottom: 62%;
    font-size: 16px;
    color: #fff;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

.inner-page .shopping-item a.btn {
    margin-bottom: 10px;
}

.inner-page .shopping-item:hover .item-hover1 {
    left: -20px;
}

.inner-page .shopping-item:hover a.link1 {
    left: 10px;
}
