.table-order-detail-left{
  margin-top: 12px;
}

.table-order-detail-right{
  margin-top: 12px;
}

.table-order-detail-right tr td:first-child{
  text-align: left !important;
  width: 50%;
}

.btn-order button{
  margin-right: 10px;
  width: 100px;
}

.cell-quantity{
  padding:1px !important;
}

.option-value-price{
  margin-right: 20px;
  text-align: right;
}

a.google-plus-active i {
    background: #f22d0c;
    color: white !important;
    border: #f22d0c 1px solid;
}

