#radiusDiv{
  background: #fff;
  margin: 10px 10px 0px 0px;
  color: #000;
  padding: 1px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  outline: none;
}

#radiusInput{
  // border-radius: 2px 0 0 2px;
  // box-sizing: border-box;
  height: 32px;
  // outline: none;
  // box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  margin-left: 5px;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 5px;
  border: 1px solid #e6e6e6;
}

#radiusLabel{
 margin-left: 5px;
 font-family: Roboto;
 font-size: 15px;
 font-weight: 300;
}

#radiusButton{
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  padding: 6px;
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: none;
  background:#fff;
}
#radiusButton:hover{
  background: #ddd;
}
#infoWindow{
	clear: both;
	display: table;
}
#infoImage{
	width: 100px;
	height: 100px;
}
#infoTitle{
	text-decoration: none;
	font-weight: bold;
	font-size: 18px;
}
#infoTitle:hover{
	text-decoration: underline;
}
#infoTitle:visited, #infoTitle:active, #infoTitle:hover{
	color:#000;
}
#divLeft{

	float: left;
}
#divRight{
	float: right;
	margin: 0 10px 0 10px;
  color: #000;
  width: 400px;
}
// #rate li{
// 	background: url(//maps.gstatic.com/tactile/omnibox/star-20130618.png) no-repeat;
// 	background-position: 0 1px;
// 	background-size: 37px 13px;
// 	display: inline-block;
// 	height: 13px;
// 	width: 13px;
// }
#divRate{
  font-size: 18px;
  color: #fdd82d;
  font-weight: bold;
}
#rate{
	display:inline-block;
	margin: 10px 0 10px 0;
  padding-left: 10px;
}
.cards-rating-star {
    background: url(../img/icon1/full_star.png) no-repeat;
    background-position: 0 1px;
    background-size: 20px 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.cards-rating-star-half {
    background: url(../img/icon1/half_star.png) no-repeat;
    background-position: 0 1px;
    background-size: 20px 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.cards-rating-star-empty {
    background: url(../img/icon1/empty_star.png) no-repeat;
    background-position: 0 1px;
    background-size: 20px 20px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
