
// Screen width
$SCREEN_WIDTH: 1200px;

$COLOR_MAIN: #3399CC;

//screen
$min-width: 0px;
$max-width: 768px;
// Color
$color-top-bar: 	#087dc2; 

$shadow-panel:0 2px 1px 0 rgba(0, 0, 0, 0.3), 0 2px 1px 2px rgba(0, 0, 0, 0.2);
$shadow-control:0 2px 1px 0 rgba(0, 0, 0, 0.3), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
$shadow-control-hover:0px 10px 46px -12px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.25);
$shadow-side-bar-hover:0px 10px 46px -12px rgba(51, 153, 204, 0.25), 0 6px 10px 0 rgba(51, 153, 204, 0.33);