<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Area list</h3>
                    <h5>Danh sach Khu Vuc</h5>
                </div>
                <div class="box-header">
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" (click)="createArea()"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of areas">
                        <div class=" box-body-height">
                            <div class="panel animation-fadein">
                                <div class="info-box">
                                    <span class="info-box-icon"><img alt="" class=" img-responsive pull-left" src="{{item.thumb}}" style="height: 89px;"></span>

                                    <div class="info-box-content">
                                        <span class="info-box-text">{{item.name}}</span>
                                        <div class="info-box-button">

                                            <button class="card btn btn-social-icon  btn-info" (click)="editArea(item)"><i class=" fa-pencil fa "></i></button>
                                            <button class="card btn btn-social-icon btn-danger" (click)="deleteArea(item)"><i class="fa fa-trash "></i></button>
                                            <button id="item.id" *ngIf="item.is_active==1 " class=" btn btn-success btn-social-icon" (click)="updateArea(item,0)" style="border-radius:50px;    margin-top: 4px;"><i class="fa-unlock fa " style="color:#fff"> <strong>activated</strong></i></button>
                                            <button id="item.id" *ngIf="item.is_active==0 " class=" btn btn-danger btn-social-icon " (click)="updateArea(item,1)" style="border-radius:50px;    margin-top: 4px;"><i class="fa-lock fa " style="color:#fff"> <strong>deactivated</strong></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
        </div>
    </div>
</section>