.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.info-box-text {
    text-transform: uppercase;
    padding-top: 8px;
}

.info-box-content .info-box-button {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-top: 5px;
}

.box-body .box-body-height {
    height: 112px;
    margin-top: 10px;
}

.progress-description,
.info-box-text {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.info-box {
    padding-top: 15px;
}

.box-body .info-box .info-box-icon img {
    max-width: 70px;
    margin: 0px auto;
    margin-bottom: 12px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    height: 70px!important;
    width: 70px;
    margin-left: 30px;
}

.box-header .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-right: 2px;
    padding-top: 8px;
    padding-left: 12px;
}

.info-box-content .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 3px;
    margin-right: 2px;
    padding-top: 8px;
    padding-left: 12px;
}

.box-header {
    background-color: #09a89e;
}

.box-header-right {
    float: right;
    height: 45px;
    margin-right: 10px;
}

.content {
    padding: 10px;
}

.box-body {
    padding: 10px;
    background: #eee;
}

.title-name {
    font: bold;
}

.animation-fadein {
    -webkit-animation: fadein 0.5s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 0.5s;
    /* Firefox < 16 */
    -ms-animation: fadein 0.5s;
    /* Internet Explorer */
    -o-animation: fadein 0.5s;
    /* Opera < 12.1 */
    animation: fadein 0.5s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}