<div class="row">
	<div class="col-md-12" style="margin-bottom: 10px;">
		<button class="btn btn-success pull-right" (click)="add()">
			<i class="fa fa-plus"></i> Add Client
		</button>
	</div>
	<div class="col-md-3" *ngFor='let client of clients'>
		<div class="well">
			<form>
				<div class="form-group">
					<label for="clientId">Id</label> <input type="text" disabled="disabled"
						[(ngModel)]="client.clientId" name="clientId" class="form-control"
						id="clientId" required>
				</div>
				<div class="form-group">
					<label for="name">Name</label> <input type="text"
						class="form-control" (keyup.enter)="save(client)"
						[(ngModel)]="client.name" id="name" name="name" required>
				</div>
				<div class="form-group">
					<label for="address">Address</label> <input type="text"
						class="form-control" (keyup.enter)="save(client)"
						[(ngModel)]="client.address" name="address" id="address">
				</div>
				<button type="button" class="btn btn-primary" (click)="save(client)">Save</button>
				<button type="button" class="btn btn-danger"
					(click)="delete(client)">Delete</button>

			</form>
			
			<div style="width: 300px; margin-bottom: 20px;">
			  <h3>Select a single city</h3>
			  <ng-select [allowClear]="true"
			              [items]="items"
			              [disabled]="disabled"
			              (data)="refreshValue($event)"
			              (selected)="selected($event)"
			              (removed)="removed($event)"
			              (typed)="typed($event)"
			              placeholder="No city selected">
			  </ng-select>
			  <p></p>
			  <pre>{{value.text}}</pre>
			  <div>
			    <button type="button" class="btn btn-primary"
			            [(ngModel)]="disabledV" btnCheckbox
			            btnCheckboxTrue="1" btnCheckboxFalse="0">
			      {{disabled === '1' ? 'Enable' : 'Disable'}}
			    </button>
			  </div>
			</div>
			
		</div>
	</div>
</div>