:host >>> .card.customClass,
:host >>> .card.customClass .card-header,
:host >>> .panel.customClass,.customClass {
  background-color: #5bc0de;
  color: #fff;
}
:host >>> .panel.customClass .panel-body {
  background-color: #337aa7;
}

h1 {  background-color: #5bc0de;color: #fff; }


:host >>> .alert-md-color {
    background-color: #7B1FA2;
    border-color: #4A148C;
    color: #fff;
  }