<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        {{action[0]}} News
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="dtForm" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label class="titleBold">News Title <label class="text-danger">*</label></label>
                                    <input type="text" maxlength="1536" placeholder="Input title..." class="form-control" name='title' [formControl]="title">
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.title && formErrors.title?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.title">
                                        {{item}}
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-sm-4 col-md-4">
                                        <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                                            <input type="file" name="file" accept="image/*"
                                                (change)="handleInputChange($event)">
                                            <div class="fileinput-new thumbnail">
                                                <!--<img id='image-restaurant' src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  *ngIf="!hiddenImage">-->
                                                <i class="icon icon-upload" 
                                                        [style.color]="dragging 
                                                            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                                                            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                                                <img 
                                                    [src]="imageSrc" 
                                                    (load)="handleImageLoad()" 
                                                    [class.loaded]="imageLoaded"/>
                                            </div>
                                        </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <label class="titleBold">Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Input description..." name='description' [innerHTML]="description" [formControl]="description"></textarea>
                                        <label class="titleBold">Status</label>
                                        <div class="radiocheck">
                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                                    <input type="radio" name="active" value="1" [formControl]="is_active">
                                                    <i></i>
                                                    Active
                                                </label>
                                            </div>
                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                                    <input type="radio" name="active" value="0" [formControl]="is_active">
                                                    <i></i>
                                                    De-Active
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <button class="btn" type="button" [routerLink]="['/news']">CANCEL</button>
                                        <button class="btn btn-success" type="button" (click)="doSaveNews()">{{action[1]}}</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>