<aside id="aside" #aside class="app-aside hidden-xs aside-color">
    <div class="aside-wrap">
        <div class="navi-wrap">
            <!-- user -->
            <div class="clearfix hidden-xs text-center hide" id="aside-user">
                <div class="dropdown wrapper aside-item-color">
                    <a routerLink="/profile">
                        <span class="thumb-lg w-auto-folded avatar m-t-sm">
                        <img src="{{restaurant.logo_path}}" class="img-full" alt="..."> 
            
                </span>
                    </a>
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle hidden-folded">
                        <span class="clear">
                  <span class="block m-t-sm">
                    <strong class="font-bold text-lt">{{restaurant.name}}</strong> 
                    <b class="caret"></b>
                  </span>

                        </span>
                    </a>
                    <!-- dropdown -->
                    <ul class="dropdown-menu animated fadeInRight w hidden-folded">
                        <li class="wrapper b-b m-b-sm bg-info m-t-n-xs">
                            <span class="arrow top hidden-folded arrow-info"></span>
                            <div>
                                <p>300mb of 500mb used</p>
                            </div>
                            <div class="progress progress-xs m-b-none dker">
                                <div class="progress-bar bg-white" data-toggle="tooltip" data-original-title="50%" style="width: 50%"></div>
                            </div>
                        </li>
                        <li>
                            <a href>Settings</a>
                        </li>
                        <li>
                            <a href="page_profile.html">Profile</a>
                        </li>
                        <li>
                            <a href>
                                <span class="badge bg-danger pull-right">3</span> Notifications
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="page_signin.html">Logout</a>
                        </li>
                    </ul>
                    <!-- / dropdown -->
                </div>
                <div class="line dk hidden-folded"></div>
            </div>
            <!-- / user -->


            <!-- nav -->
            <nav ui-nav class="navi clearfix">
                <ul class="nav">

                    <template ngFor let-item [ngForOf]="links">
                            <template [ngIf]="!item.sublinks">                          
                                <li class="aside-item-color {{ item.link[0] === current_url ? 'actived' : '' }}">
                                    <a *ngIf="!item.external" title="{{item.title}}" [routerLink]="item.link"> <i class="fa {{item.icon}}"></i> <span>{{item.title}}</span>
                                    </a>
                                    <a *ngIf="item.external" [href]="item.link" [target]="item.target">
                                        <i class="fa {{item.icon}}"></i> <span>{{item.title}}</span>
                                    </a>
                                </li>
                            </template>
                    <template [ngIf]="item.sublinks">
                                 <li class="aside-item-color" >
                                    <a href="#" title="{{item.title}}"> <i *ngIf="item.icon" class="fa {{item.icon}}"></i> <span>{{item.title}}</span> <i class="fa fa-angle-down pull-right"></i>
                                    </a>
                                 <ul class="treeview-menu">
                                    <template ngFor let-subitem [ngForOf]="item.sublinks">
                                     
                                        <li class="aside-item-color sub-item {{ subitem.link[0] === current_url ? 'actived' : ''}}" >
                                            <a *ngIf="!subitem.external" title="{{subitem.title}}" [routerLink]="subitem.link"> <i *ngIf="subitem.icon" class="fa {{subitem.icon}}"></i> <span >{{subitem.title}}</span>
                                            </a>
                                            <a *ngIf="subitem.external" title="{{subitem.title}}" [href]="subitem.link" [target]="subitem.target"> <i *ngIf="subitem.icon" class="fa {{subitem.icon}}"></i> <span >{{subitem.title}}</span>
                                            </a>
                                        </li>
                                    </template>
                </ul>
                </li>
                </template>
                </template>
                </ul>
            </nav>
            <!-- nav -->

        </div>
    </div>
</aside>
<!-- / aside -->