.aside-color {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%) !important;
    height: 1200px;
}

.aside-item-color {
    color: white !important;
}

.app-aside-folded .aside-item-color.active>a {
    background: white;
    color: #00b29c !important;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    margin-left: 5px;
}

.navi ul.nav li li a {
    padding-left: 5px !important;
    padding: 10px 10px !important;
}

.app-aside-folded .navi>ul>li>ul {
    opacity: 0!important;
    height: 0!important;
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%) !important;
}

.app-aside-folded .nav>li:hover ul.treeview-menu {
    height: auto !important;
    opacity: 1 !important;
}

.sub-item {
    margin-left: -35px !important;
}