            /* line 2, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .top-toolbar {
              margin-bottom: 10px;
            }
            /* line 6, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .top-toolbar .pull-left h3 {
              margin: 0;
            }
            /* line 15, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-heading .list-is-button .pull-right .icon-toggle {
              padding: 0px;
              width: 32px;
              height: 32px;
              font-size: 22px;
              background-color: #FF7942 !important;
              color: white !important;
            }
            /* line 26, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter {
              border-bottom: none;
            }
            /* line 30, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter span.input-group-btn {
              width: auto;
            }
            /* line 35, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter .form-group .input-group {
              display: inline-table;
              vertical-align: middle;
            }
            /* line 39, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter .form-group .input-group button.resize {
              height: 30px;
            }
            /* line 43, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter .form-group p {
              margin-bottom: 0px;
            }
            /* line 47, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-filter .panel-filter-btn {
              display: inline-block;
              width: 100%;
              height: 100%;
              margin-bottom: 10px;
            }
            /* line 54, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper {
              padding: 0 10px 0px 0px;
            }
            /* line 57, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .bg-color {
              background-color: transparent;
            }
            /* line 60, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .potision-popover {
              position: relative;
            }
            /* line 63, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .table {
              margin-bottom: 0px;
              border-left: 0px;
            }
            /* line 68, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .table thead>tr>th.action {
              width: 130px !important;
            }
            /* line 75, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .table tbody tr td {
              height: 35px;
              vertical-align: middle;
              padding: 0px;
            }
            /* line 79, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-wrapper .table tbody tr td.not-set {
              cursor: pointer;
            }
            /* line 87, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-label {
              width: 150px;
              float: left;
              margin-bottom: 0px;
            }
            /* line 94, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .table-label tbody tr td {
              height: 35px;
              vertical-align: middle;
            }
            /* line 102, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-body .time-sample-label {
              font-size: 15px;
              line-height: 1.45;
              font-weight: 400;
              color: #337ab7;
              font-weight: bold;
            }
            /* line 109, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-body .time-sample {
              color: #337ab7;
            }
            /* line 112, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-body .time-sample-btn {
              margin-bottom: 10px;
            }
            /* line 116, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .panel .panel-body .disable-time-by-mode .form-control[disabled] {
              color: #ddd !important;
            }
            /* line 123, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .separator {
              height: 35px;
              line-height: 35px;
              font-size: 20px;
            }
            /* line 128, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .radio-inline {
              font-size: 13px;
              font-weight: bold;
            }
            /* line 132, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .date_radio {
              margin-bottom: 10px;
            }
            /* line 135, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .checkFlg, .booking .endFlg {
              background-color: #FC7D7D;
              width: auto;
              height: 22px;
              margin: 6px 0px;
            }
            /* line 141, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .endFlg {
              background: #FC7D7D url(../../admin/img/play.png) no-repeat;
              background-size: 5px 22px;
              background-position: right 0;
            }
            /* line 146, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .endFlg:after {
              content: "";
              position: absolute;
              background-color: red;
            }
            /* line 155, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium tr td:nth-of-type(2n+1) {
              border-right: 1px dashed;
            }
            /* line 158, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium tr td:last-of-type {
              border-right: 1px;
            }
            /* line 163, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium tr td.col-san {
              padding-top: 3px;
              padding-bottom: 3px;
              line-height: 1.2;
            }
            /* line 169, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium .col-khuvuc {
              width: 80px !important;
            }
            /* line 173, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium .col-san {
              width: 128px !important;
              margin-left: -129px;
            }
            /* line 177, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium .col-schedule {
              padding: 0px;
            }
            /* line 181, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .table-stadium .col-ngay {
              width: 148px !important;
            }
            /* line 186, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .page-create .table .headcol {
              margin-left: -149px !important;
            }
            /* line 189, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .page-create .fix-column {
              margin-left: 213px !important;
            }
            /* line 192, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .page-create .table {
              margin-left: -80px;
            }
            /* line 197, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .khachthang {
              background-color: #00bcd4 !important;
            }
            /* line 201, resources/assets/sass/admin/pages/_stadium.scss */

            .booking .khachthang.endFlg {
              background: #00bcd4 url(../../admin/images/play.png) no-repeat;
              background-size: 5px 22px;
              background-position: right 0;
            }

            .panel-heading1 {
              background-color: #09a89e;
              color: #fff;
              font-size: 16px;
              height: 45px;
              line-height: 40px;
              padding: 0 11px;
            }

            .pull-right {
              float: right!important;
            }

            .panel-body {
              border: 1px solid #ddd;
              border-radius: 0px;
            }

            .add-table-form {
              padding-top: 10px;
              margin-bottom: 15px;
              padding-bottom: 15px;
              text-align: center;
              border-bottom-left-radius: 5px;
              border-bottom-right-radius: 5px;
              background: #B2DFDB;
              border: 1px solid #eaeff0;
              z-index: 50;
            }

            .button-add-table {
              border-radius: 100%;
              color: white;
              font-size: 15px;
              background: linear-gradient(154deg, #ef5350, #FF5722 100%) !important;
            }

            .slot-style {
              border: 0.2px solid #dee5e7;
              background: white;
              height: 34px;
              font-size: 22px;
              box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
            }

            .mid-y {
              transform: translateY(18%);
            }

            .panel {
              background-color: #fff;
              height: 100%;
              padding-bottom: 50px;
            }

            .box-header-lable h3 {
              padding-left: 10px;
              color: #fff;
            }

            .info-box-text {
              text-transform: uppercase;
            }

            .info-box-content .box-header-lable {
              float: left;
              height: 45px;
            }

            .box-header-lable h3 {
              padding-top: 10px;
            }

            .box-header {
              background-color: #09a89e;
            }

            .content {
              padding: 10px;
            }

            .box-body {
              padding: 10px;
              background: #eee;
            }

            .title-name {
              font: bold;
            }

            .form-group {
              margin-bottom: 15px;
            }

            .fileinput {
              display: inline-block;
              margin-bottom: 9px;
            }

            .fileinput .thumbnail {
              display: inline-block;
              margin-bottom: 5px;
              overflow: hidden;
              text-align: center;
              vertical-align: middle;
            }

            .fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
              display: none;
            }

            .fileinput .thumbnail {
              display: inline-block;
              margin-bottom: 5px;
              overflow: hidden;
              text-align: center;
              vertical-align: middle;
            }

            .fileinput-exists {
              display: none;
            }

            .fileinput .btn {
              vertical-align: middle;
            }

            .btn {
              display: inline-block;
              padding: 6px 12px;
              margin-bottom: 0;
              font-size: 14px;
              font-weight: 400;
              line-height: 1.42857143;
              text-align: center;
              white-space: nowrap;
              vertical-align: middle;
              -ms-touch-action: manipulation;
              touch-action: manipulation;
              cursor: pointer;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
              background-image: none;
              border: 1px solid transparent;
            }

            html, body {
              height: 100%;
              margin: 0;
              padding: 0;
            }

            body {
              align-items: center;
              display: flex;
              flex-direction: column;
              font-family: sans-serif;
              justify-content: center;
              text-align: center;
            }

            button {
              margin-top: 2em;
            }

            .margin-top-10 {
              float: right;
              margin-right: 15px;
            }

            .thumbnail {
              width: 200px;
              height: 150px;
              margin-top: 10px;
            }

            .radiocheck {
              margin-top: 15px;
            }

            .titleBold {
              font-weight: bold;
            }
