<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-shadow-panel panel panel-master">
                    <div class="box-header">
                        <div class="box-header-lable">
                            <h3 style="margin-top: 0px !important;">Thông tin đặt bàn</h3>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-body">
                        <form [formGroup]="createReserveForm" (ngSubmit)="createReserve()" novalidate class="form-validation">
                            <div class="row">
                                <!-- Tên khách hàng -->
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Tên khách hàng<span>&nbsp;<label class="text-danger" >*</label></span>
                                        </label>
                                        <input type="text" maxlength="128" [formControl]="name" name="name" class="form-control Required" placeholder="Họ và tên khách hàng...." required>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.name">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <!-- Số điện thoại -->
                                <div class="col-md-4">
                                    <!-- Số điện thoại -->
                                    <div class="form-group ">
                                        <label>Số điện thoại&nbsp;<label class="text-danger">*</label></label>
                                        <input name="phone" maxlength="32" [formControl]="phone" class="form-control" placeholder="số điện thoại...">
                                        <div *ngIf="formErrors.phone && formErrors.phone?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.phone">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <!-- Địa chỉ -->
                                <div class="col-md-4">

                                    <div class="form-group">
                                        <label>Email<span class="required" ></span></label>
                                        <input type="text" [formControl]="email" class="form-control " placeholder="Email...">
                                        <div *ngIf="formErrors.email && formErrors.email?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.email">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label>Địa chỉ<span class="required" >&nbsp;</span></label>
                                        <input type="text" [formControl]="address" class="form-control " placeholder="Địa chỉ...">
                                        <div *ngIf="formErrors.address && formErrors.address?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.address">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Số người<span class="required" >&nbsp;<label class="text-danger">*</label></span>
                                        </label>
                                        <input type="text" [formControl]="people_count" class="form-control " placeholder="Số người...">
                                        <div *ngIf="formErrors.people_count && formErrors.people_count?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.people_count">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div>
                                <span><i class="fa fa-edit"></i>&nbsp;Thông tin đặt hàng</span>

                            </div>
                            <br>

                            <div class="row">

                                <div class="col-md-3" style="margin-top: 60px;">
                                    <div class="form-group">
                                        <label>Ngày đặt <span><label class="text-danger">*</label></span>
                                        <!-- end ngIf: m.newModel.mode.value == 1 || m.newModel.mode.value == 2 -->
                                        </label>
                                        <p-calendar [formControl]="date" [minDate]="minDate" inputStyleClass="form-control" (onSelect)="onSelectFromDate($event)" dateFormat="dd/mm/yy" [showIcon]="false"></p-calendar>
                                        <div *ngIf="formErrors.date && formErrors.date?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.date">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Giờ bắt đầu<label class="text-danger">*</label></label>
                                        <timepicker [formControl]="open_time" [showMeridian]="showMeridian" (ngModelChange)="onChangeOpen($event)" (change)="onChangeOpenValue($event)"></timepicker>
                                        <div *ngIf="formErrors.open_time && formErrors.open_time?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.open_time">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group ">
                                        <label>Giờ kết thúc<label class="text-danger">*</label></label>
                                        <timepicker [formControl]="close_time" [showMeridian]="showMeridian" (ngModelChange)="onChangeClose($event)" (change)="onChangeCloseValue($event)"></timepicker>
                                        <div *ngIf="formErrors.close_time && formErrors.close_time?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.close_time">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label>Comment</label>
                                        <input type="text" [formControl]="comment" class="form-control " placeholder="Comment...">
                                        <div *ngIf="formErrors.comment && formErrors.comment?.length > 0" class="alert alert-danger" style="margin-top: 10px">
                                            <div *ngFor="let item of formErrors.comment">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="panel-heading1">
                                    <ul class="list-is-button " style="list-style-type: none;">
                                        <li style="float: left;">
                                            <i class="fa fa-th-list"></i> &nbsp;Danh sách bàn đặt
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 add-table-form">
                                    <div class="col-md-4 ">
                                        <ng-select class="ng-select" #SelectAreasId [allowClear]="true" [items]="areaItems" [disabled]="disabled" (data)="refreshAreaValue($event)" (selected)="selectedAreas($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="Chọn khu vực.."
                                            [active]="[valueArea]">
                                        </ng-select>
                                    </div>
                                    <div class="col-md-5 ">
                                        <ng-select class="ng-select" #SelectTablesId [allowClear]="true" [items]="tableItems" [disabled]="disabled" (data)="refreshTableValue($event)" (selected)="selectedTables($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="Chọn bàn..."
                                            [active]="[valueTable]">
                                        </ng-select>
                                    </div>
                                    <div class="col-md-2 slot-style">{{slots}} <i class="fa fa-male" aria-hidden="true"></i></div>
                                    <div class="col-md-1 ">
                                        <a class="btn btn-success btn-social-icon" (click)="addToReserve()"><i class="fa fa-plus"></i></a>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-wrapper table-responsive col-md-12">
                                        <table class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr style="background: #09a89e;color: white;">
                                                    <th>Khu vực</th>
                                                    <th>Tên bàn</th>
                                                    <th>Số ghế</th>

                                                    <th class="action">Hành động</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngIf="tableReserve.length ==0">
                                                    <td> Hiện chưa có bàn đặt...
                                                    </td>
                                                    <td></td>
                                                    <td></td>
                                                    <td></td>
                                                </tr>
                                                <tr *ngFor="let item of tableReserve">

                                                    <td>{{item.textArea}}</td>
                                                    <td>{{item.name}}</td>
                                                    <td>{{item.slots}}</td>

                                                    <td>
                                                        <a class="btn btn-xs bg-color" title="Xóa" (click)="removeTable(item)"><i class="fa fa-remove"></i></a>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>

                                    </div>

                                </div>
                            </div>
                            <div class="pull-right">
                                <button type="submit" class="btn btn-success btn-size-normal ">
							<i class="fa fa-calendar"></i>
							&nbsp;ADD
						</button>
                                <button class="btn btn-submit btn-size-normal" (click)="goBack()">CANCEL
                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>