<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Option Item</h3>
                </div>
                <div class="box-header">
                    <div class="box-header-lable">
                        <h3>Add new Option Item</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="createOptionItemForm" (ngSubmit)="optionItemCreate()" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label class="titleBold">Option Name <label class="text-danger">*</label></label>
                                    <input type="text" placeholder="name" class="form-control" name='name' [formControl]="name">
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.name">
                                        {{item}}
                                    </div>
                                </div>
                                <div class="margin-top-10">
                                    <button class="btn" type="button">CANCEL</button>
                                    <button class="btn btn-success" type="button" (click)="optionItemCreate()">ADD</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>