<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        Email Marketing Detail
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class=" box-body-height">
                            <div class="panel">
                                <div class="info-box">
                                    <div class="info-box-content news-list">
                                        <div class="tab-content">

                                            <div class='order-price'>
                                                <div>
                                                    <span class='pull-left bold text-right title'>  Subject: </span> <span>{{email.subject}} </span>
                                                    <div class='clearfix'> </div>
                                                </div>
                                                <div class='border-line'> </div>
                                                <div>

                                                    <span class='pull-left bold text-right title'> Send To: </span> <span>{{email.send_to}} </span>
                                                    <div class='clearfix'> </div>
                                                </div>
                                                <div class='border-line'> </div>
                                                <div>

                                                    <span class='pull-left bold text-right title'> Send CC: </span> <span>{{email.send_bb}} </span>
                                                    <div class='clearfix'> </div>
                                                </div>
                                                <div class='border-line'> </div>
                                                <div>

                                                    <span class='pull-left bold text-right title'> Send BB: </span> <span>{{email.send_cc}} </span>
                                                    <div class='clearfix'> </div>
                                                </div>


                                                <div class='border-line'> </div>

                                                <div>

                                                    <span class='pull-left bold text-right title'> Content:  </span>
                                                    <br>

                                                    <div class="content-marketing" [innerHTML]="email.content"></div>
                                                    <div class='clearfix'> </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>