.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
}

.modal-backdrop {
    left: 2000px !important;
}

.modal-header {
    background: #009688;
    color: white;
    text-align: center;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>tdtd {
    padding-top: 20px !important;
}

.table {
    margin-bottom: 0px !important;
}

.modal-dialog {
    margin-top: 100px;
}

.btn {
    padding-top: 8px;
    margin-top: 12px;
}