<div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title pull-center">Your Restaurants list </h4>

            </div>
            <div class="modal-body">
                <table class="table">

                    <tbody>
                        <tr *ngFor="let rest of restaurants; let i = index">
                            <td>{{i + 1}}</td>
                            <td><img style=" width: 70px;" class="img-responsive" src="{{rest.logo_path ? rest.logo_path : 'http://www.placehold.it/70x39/EFEFEF/AAAAAA&amp;text=no+image'}}" /></td>
                            <td><span style="font-weight:bold">{{rest.name}} </span> <br> <br><span> {{rest.address}} </span></td>

                            <td>
                                <a class="card btn btn-social-icon btn-success" (click)="gotoDashboard(rest)"><i class="fa-arrow-right fa"></i></a>

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="modal-footer">
                <div class="pull-right">
                    <button class="btn btn-danger" (click)="hide()"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>