<div class="inner-page">
    <div class="layout-container">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group col-sm-2">
                    <label>ID</label>
                    <input type="text" name="id" class="form-control ">
                </div>
                <div class="form-group col-sm-1">
                    <label></label>
                    <br>
                    <a class=" btn  btn-info search"><i class="fa-search fa"></i></a>
                </div>
                <div class="form-group col-sm-2">
                    <label>Status</label>
                    <ng-select #StatusSelect [allowClear]="true" [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No order status selected"></ng-select>
                </div>
                <div class="form-group col-sm-2">
                    <label>From Date</label>
                    <div class="input-group w-md">
                        <!--<input type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                        <p-calendar inputStyleClass="form-control" [(ngModel)]="fromDate" (onSelect)="onSelectFromDate($event)" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>To Date</label>
                    <div class="input-group w-md">
                        <!--<input type="text" class="form-control" datepicker-popup="" ng-model="dt" is-open="opened" datepicker-options="dateOptions" ng-required="true" close-text="Close">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>-->
                        <p-calendar inputStyleClass="form-control" [(ngModel)]="toDate" (onSelect)="onSelectToDate($event)" dateFormat="dd/mm/yy" [showIcon]="true"></p-calendar>
                    </div>
                </div>
                <div class="form-group col-sm-2">
                    <label>Order Persion</label>
                    <ng-select #OrderPersionSelect [allowClear]="true" [items]="paymentMethodItems" [disabled]="disabled" (data)="refreshValuePersion($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No order persion selected"></ng-select>
                </div>



                <div class="form-group col-sm-1">
                    <label></label>
                    <br>
                    <a class="card btn btn-social-icon" (click)="orderFood()"><i class="fa-plus fa"></i> New Order</a>
                </div>
            </div>
        </div>
        <div class="component-content history-order">
            <!-- order-requests-->
            <div id="order-requests">
                <ul id="myTab" class="nav nav-tabs br-red">
                    <li class="bold active"><a href="#request" (click)="doModelDisplay(0,0)" data-toggle="tab" aria-expanded="true">Request: <span class="br-brown badge">{{requestOrderTempList != null ? requestOrderTempList.length : ''}}</span> </a></li>
                    <li class="bold"><a href="#request-home-delivery" (click)="doModelDisplay(0,1)" data-toggle="tab" aria-expanded="false">Home delivery: <span class="br-brown badge">{{requestOrderDelivery != null ? requestOrderDelivery.length : ''}}</span> </a></li>
                    <li class="bold"><a href="#request-pick-up" (click)="doModelDisplay(0,2)" data-toggle="tab" aria-expanded="false">Pick up: <span class="br-brown badge">{{requestOrderPickup != null ? requestOrderPickup.length : ''}}</span> </a></li>
                </ul>

                <div class="row">
                    <div class="col-sm-8">
                        <div class="tab-content">
                            <!-- request-->
                            <div class="tab-pane fade active in" id="request">
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr *ngFor="let row of requestOrderList">
                                                <td><a title="click to view detail" (click)="viewDetail(row)"><i class="icon-basket-loaded " style="color:#23b7e5"></i>&nbsp; <span style="text-decoration: underline;">{{row.id}}</span></a></td>
                                                <td><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-address-card-o " style="color:#23b7e5"></i>&nbsp; {{row.name}}</a></td>
                                                <!--td><i class="fa fa-phone " style="color:#23b7e5"></i>&nbsp; {{row.phone}}</td>
                                        <td class="text-right"></td-->
                                                <td class="text-right"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp; {{row.delivery_time.split(' ')[0]}}</a></td>
                                                <td class="text-right"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; {{row.delivery_time.split(' ')[1]}}</a></td>
                                                <td class="text-right bold"><a title="click to view detail" (click)="viewDetail(row)"><i class="fa  fa-money" style="color:#23b7e5"></i>&nbsp;&nbsp;<span>{{row.total_price}}</span> VND</a></td>

                                                <td style=" text-align: right;">
                                                    <a *ngIf="row.order_sts == 0" class="btn btn-success" (click)="doUpdateOrder(row,1)">Accept</a>
                                                    <a *ngIf="row.order_sts == 0" class=" btn  btn-danger " (click)="doUpdateOrder(row,99)">Deny</a>
                                                </td>

                                                <td class="text-right">
                                                    <a title="view detail" [routerLink]="['/ordering-detail', row.id]" (click)="doSetScope(row)"><i class="fa fa-map-marker fa-2x" style="color:red"></i>&nbsp;</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" *ngIf="isShow == true">
                        <div class='col-md-12 col-sm-12' style="background:white;">
                            <div style="padding-top:20px;" class='history-order-detail-info' *ngIf="order !=null ">
                                <div class='customer-info'>
                                    <div class='pull-left'>
                                        <div style="padding-top:5px "> <i class="icon-basket-loaded " style="color:#23b7e5 "></i>&nbsp; OrderId: <span>{{order.id}}</span></div>
                                        <div style="padding-top:5px " class='' *ngIf="order.order_sts !=0 "><i class="fa fa-address-card-o " style="color:#23b7e5 "></i>&nbsp; {{order.name}}</div>
                                        <div style="padding-top:5px " class='' *ngIf="order.order_sts !=0 "> <i class="fa fa-phone " style="color:#23b7e5 "></i>&nbsp; {{order.phone}}</div>
                                    </div>
                                    <div class='pull-right status-order badge {{order.order_sts_display}}'>Status:<span> {{order.order_sts_display}} </span></div>
                                    <div class='clearfix'> </div>
                                </div>
                                <div class='order-time'>
                                    <div>
                                        <h5 class='bold'> Request time: </h5>
                                        <div>
                                            <i class="fa fa-calendar " style="color:#23b7e5 "></i>&nbsp; <span>{{order.order_time}}</span>
                                            <i class="fa fa-clock-o " style="color:#23b7e5 "></i>&nbsp; <span>{{order.order_time}}</span>
                                        </div>
                                    </div>
                                    <div>
                                        <h5 class='bold'> Delivery time: </h5>
                                        <div>
                                            <i class="fa fa-calendar " style="color:#23b7e5 "></i>&nbsp;<span> {{order.delivery_time}}</span>
                                            <i class="fa fa-clock-o " style="color:#23b7e5 "></i>&nbsp; <span> {{order.delivery_time}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class='order-list'>
                                    <div class='item' *ngFor="let row of order.items ">
                                        <div class="col-xs-12 col-md-12 un-padding ">
                                            <img class="img-responsive pull-left " src="{{row.thumb}}">
                                            <div class='item-detail pull-left'>
                                                <div class='item-name bold'>{{row.name}} </div>
                                                <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.price}}</span> = <span> {{row.quantity*row.price}} </span> {{order.default_currency}} </div>
                                                <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.point}}</span> = <span> {{row.quantity*row.point}} </span> </div>
                                            </div>
                                        </div>


                                        <div *ngFor="let option of row.option_items ">
                                            <div class="col-xs-12 col-md-12 padding ">
                                                <div>
                                                    <div style="padding-left: 120px; " class='item-name '> + {{option.option_name}} - {{option.option_value_name}} </div>
                                                    <div style="padding-left: 120px; border-bottom:0px " class='item-price'> <span> {{option.add_price}} {{order.default_currency}} ( {{option.point}} )</span> </div>

                                                </div>
                                            </div>
                                        </div>

                                        <div *ngIf="row.note != null" class='item-note'> Notes: <span>{{row.note}} </span> </div>
                                        <div class='clearfix'> </div>

                                    </div>

                                </div>
                                <div class='order-price'>

                                    <div style="padding-top:10px ">
                                        Estimate:
                                        <span class='pull-right bold text-right'> <span>{{order.total_price}} </span> {{order.default_currency}} </span>
                                        <div class='clearfix'> </div>
                                    </div>
                                    <div style="padding-top:10px ">
                                        Ship fee: <span class='color-orange'> {{distance}} km </span>
                                        <span class='pull-right bold text-right'> <span>{{order.delivery_fee}} </span> {{order.default_currency}} </span>
                                        <div class='clearfix'> </div>
                                    </div>
                                    <div style="padding-top:10px ">
                                        Discount code: <span class='discount-code'>  {{order.promote_code}} </span>
                                        <span class='pull-right bold text-right'> <span>{{order.promo_discount}} </span> {{order.default_currency}} </span>
                                        <div class='clearfix'> </div>
                                    </div>
                                    <div style="padding-top:10px ">
                                        <span class='color-orange'>  Total </span>
                                        <span class='pull-right bold text-right'> <span>{{totalAmount}} </span> {{order.default_currency}} </span>
                                        <div class='clearfix'> </div>
                                    </div>
                                    <div class='border-line'> </div>
                                    <div style="padding-top:10px ">
                                        <span> Payment method: </span>
                                        <span class='pull-right bold color-orange'> cash on delivery </span>
                                        <div class='clearfix'> </div>
                                    </div>
                                    <div style="padding-top:10px ">
                                        <span> Delivery method: </span>
                                        <span class='pull-right bold color-orange'> {{deliveryMethod}}  </span>

                                        <div class='clearfix'> </div>
                                    </div>
                                    <div *ngIf="order.delivery_type==2 " style="padding-top:10px ">
                                        <span>  Table Name: </span>
                                        <span class='pull-right bold color-orange'>   
                                    <a  class="card btn btn-social-icon btn-success " >book table</a> 
                                </span>

                                        <div class='clearfix'> </div>
                                    </div>
                                </div>
                                <div class='note' *ngIf="order.note != null">
                                    <h5 class='bold'>Note </h5>
                                    <div>
                                        {{order.note}}
                                    </div>
                                </div>
                                <div style=" padding-left: 10px;">
                                    <label>
                            <input type="checkbox" class="checkboxright"  >
                            Print Bill
                            </label>
                                </div>
                                <div style="padding-top:10px; padding-bottom:20px; float:right" *ngIf="order != null">
                                    <a *ngIf="order.order_sts == 0" class=" btn btn-success" (click)="doUpdateOrder(order,1)">Accept</a>
                                    <a *ngIf="order.order_sts == 0" class=" btn  btn-danger btn-google" (click)="doUpdateOrder(order, 99)">Deny</a>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- order-requests-->
            <!-- order-verified-->
            <div id="order-verified ">
                <ul id="myTab " class="nav nav-tabs br-lblue ">
                    <li class="bold active "><a href="#verified " (click)="doModelDisplay(1,0) " data-toggle="tab " aria-expanded="true ">Verified: <span class="br-brown badge ">{{verifiedOrderTempList != null ? verifiedOrderTempList.length : ''}}</span> </a></li>
                    <li class="bold "><a href="#verified-home-delivery " (click)="doModelDisplay(1,1) " data-toggle="tab " aria-expanded="false ">Home delivery: <span class="br-brown badge ">{{verifiedOrderDelivery != null ? verifiedOrderDelivery.length : ''}}</span></a></li>
                    <li class="bold "><a href="#verified-pick-up " (click)="doModelDisplay(1,2) " data-toggle="tab " aria-expanded="false ">Pick up: <span class="br-brown badge ">{{verifiedOrderPickup != null ? verifiedOrderPickup.length : ''}}</span></a></li>
                </ul>
                <div class="tab-content ">
                    <!-- verified-->
                    <div class="tab-pane fade active in " id="verified ">
                        <div class="table-responsive ">
                            <table class="table ">
                                <tbody>
                                    <tr *ngFor="let row of verifiedOrderList ">
                                        <td><i class="icon-basket-loaded " style="color:#23b7e5 "></i>&nbsp;<span>{{row.id}}</span></td>
                                        <td><i class="fa fa-address-card-o " style="color:#23b7e5 "></i>&nbsp; {{row.name}}</td>
                                        <td><i class="fa fa-phone " style="color:#23b7e5 "></i>&nbsp; {{row.phone}}</td>
                                        <td class="text-right "></td>
                                        <td class="text-right "><i class="fa fa-calendar " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[0]}}</td>
                                        <td class="text-right "><i class="fa fa-clock-o " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[1]}}</td>
                                        <td class="text-right bold "><i class="fa fa-money " style="color:#23b7e5 "></i>&nbsp;&nbsp;<span>{{row.total_price}}</span> VND</td>
                                        <td style=" text-align: right; ">
                                            <a *ngIf="row.order_sts==1 " class="btn btn-success " (click)="doUpdateOrder(row,1) ">Delivery</a>
                                            <a *ngIf="row.order_sts==1 " class=" btn btn-danger " (click)="doUpdateOrder(row,99) ">Deny</a>
                                        </td>
                                        <td class="text-right ">
                                            <a title="view detail " [routerLink]="[ '/ordering-detail', row.id] " (click)="doSetScope(row) "><i class="fa fa-map-marker fa-2x " style="color:red "></i>&nbsp;</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- order-verified-->

            <!-- order-delivery-->
            <div id="order-delivery ">
                <ul id="myTab " class="nav nav-tabs br-green ">
                    <li class="bold active "><a href="#delivery " (click)="doModelDisplay(2,0) " data-toggle="tab " aria-expanded="true ">Delivery: <span class="br-brown badge ">{{deliveryOrderTempList != null ? deliveryOrderTempList.length : ''}}</span> </a></li>
                    <li class="bold "><a href="#delivery-home-delivery " (click)="doModelDisplay(2,1) " data-toggle="tab " aria-expanded="false ">Home delivery: <span class="br-brown badge "> {{deliveryOrderDelivery != null ? deliveryOrderDelivery.length : ''}} </span> </a></li>
                    <li class="bold "><a href="#delivery-pick-up " (click)="doModelDisplay(2,2) " data-toggle="tab " aria-expanded="false ">Pick up: <span class="br-brown badge "> {{deliveryOrderPickup != null ? deliveryOrderPickup.length : ''}} </span> </a></li>
                </ul>
                <div class="tab-content ">
                    <!-- delivery-->
                    <div class="tab-pane fade active in " id="delivery ">
                        <div class="table-responsive ">
                            <table class="table ">
                                <tbody>
                                    <tr *ngFor="let row of deliveryOrderList ">
                                        <td><i class="icon-basket-loaded " style="color:#23b7e5 "></i>&nbsp;<span>{{row.id}}</span></td>
                                        <td><i class="fa fa-address-card-o " style="color:#23b7e5 "></i>&nbsp; {{row.name}}</td>
                                        <td><i class="fa fa-phone " style="color:#23b7e5 "></i>&nbsp; {{row.phone}}</td>
                                        <td class="text-right "></td>
                                        <td class="text-right "><i class="fa fa-calendar " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[0]}}</td>
                                        <td class="text-right "><i class="fa fa-clock-o " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[1]}}</td>
                                        <td class="text-right bold "><i class="fa fa-money " style="color:#23b7e5 "></i>&nbsp;&nbsp;<span>{{row.total_price}}</span> VND</td>
                                        <td style=" text-align: right; ">
                                            <a *ngIf="row.order_sts==2 " class=" btn btn-success ">In Bill</a>
                                            <a *ngIf="row.order_sts==2 " class=" btn btn-primary ">In Red Invoice</a>
                                            <a *ngIf="row.order_sts==2 " class=" btn btn-danger " (click)="doUpdateOrder(99) ">Delete</a>

                                        </td>

                                        <td class="text-right ">
                                            <a title="view detail " [routerLink]="[ '/ordering-detail', row.id] " (click)="doSetScope(row) "><i class="fa fa-map-marker fa-2x " style="color:red "></i>&nbsp;</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>


                </div>
            </div>
            <!-- order-pending-->
            <!-- order-pending-->
            <div id="order-pending ">
                <ul id="myTab " class="nav nav-tabs br-orange ">
                    <li class="bold active "><a href="#pending " (click)="doModelDisplay(99,0) " data-toggle="tab " aria-expanded="true ">Pending: <span class="br-brown badge ">{{pendingOrderTempList != null ? pendingOrderTempList.length : ''}}</span> </a></li>
                    <li class="bold "><a href="#pending-home-delivery " (click)="doModelDisplay(99,1) " data-toggle="tab " aria-expanded="false ">Home delivery: <span class="br-brown badge "> {{pendingOrderDelivery != null ? pendingOrderDelivery.length : ''}} </span> </a></li>
                    <li class="bold "><a href="#pending-pick-up " (click)="doModelDisplay(99,2) " data-toggle="tab " aria-expanded="false ">Pick up: <span class="br-brown badge "> {{pendingOrderPickup != null ? pendingOrderPickup.length : ''}} </span> </a></li>
                </ul>
                <div class="tab-content ">
                    <!-- pending-->
                    <div class="tab-pane fade active in " id="pending ">
                        <div class="table-responsive ">
                            <table class="table ">
                                <tbody>
                                    <tr *ngFor="let row of pendingOrderList ">
                                        <td><i class="icon-basket-loaded " style="color:#23b7e5 "></i>&nbsp; <span>{{row.id}}</span></td>
                                        <td><i class="fa fa-address-card-o " style="color:#23b7e5 "></i>&nbsp; {{row.name}}</td>
                                        <td><i class="fa fa-phone " style="color:#23b7e5 "></i>&nbsp; {{row.phone}}</td>
                                        <td class="text-right "></td>
                                        <td class="text-right "><i class="fa fa-calendar " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[0]}}</td>
                                        <td class="text-right "><i class="fa fa-clock-o " style="color:#23b7e5 "></i>&nbsp; {{row.delivery_time.split(' ')[1]}}</td>
                                        <td class="text-right bold "><i class="fa fa-money " style="color:#23b7e5 "></i>&nbsp;&nbsp;<span>{{row.total_price}}</span> VND</td>
                                        <td class="text-right ">
                                            <a title="view detail " [routerLink]="[ '/ordering-detail', row.id] " (click)="doSetScope(row) "><i class="fa fa-map-marker fa-2x " style="color:red "></i>&nbsp;</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!-- order-pending-->
        </div>
    </div>
</div>