.br-green {
    background-color: #4CAF50 !important
}

.br-red {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%) !important;
}

.br-orange {
    background-color: rgba(158, 158, 158, 0.55) !important
}

.br-lblue {
    background-color: #FF9800 !important;
}

.br-brown {
    background-color: #FF9800 !important;
}

.statistic {
    margin-top: 10px;
}

.history-order>div {
    margin-bottom: 15px;
}

.inner-page .component-content.history-order .tab-content {
    padding: 0px;
    border: 0px;
}

.inner-page .component-content .tab-content {
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-top: 0;
}

.history-order .table>tbody>tr>td img {
    height: 20px;
    display: inline-block;
    margin-right: 5px;
}

li.active a:active {
    background: transparent;
    border-color: transparent;
    opacity: 1;
}

.history-order .nav-tabs li.active a {
    background: transparent;
    border-color: transparent;
    opacity: 1;
}

.history-order .nav-tabs li a:hover {
    background: transparent;
    border-color: transparent;
    opacity: 1;
}

.nav-tabs li.active a:hover,
.nav-tabs li.active a:active {
    background-color: #f75353;
    border-color: #f75353;
    color: #ffffff;
}

.history-order .nav-tabs li a {
    color: #fff;
    opacity: 0.5;
}

.nav-tabs>li>a {
    margin-right: 0px;
    border-radius: 0px;
}

a:hover,
a:active,
a:focus {
    outline: 0;
    text-decoration: none;
}

.history-order .nav-tabs li a {
    color: #fff;
    opacity: 0.5;
}

.nav-tabs li.active a {
    background-color: #f75353;
    border-color: #f75353;
    color: #ffffff;
}

.default-heading {
    margin-bottom: 40px;
    text-align: center;
}

.default-heading img {
    margin: 0 auto;
    margin-bottom: 12px;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    background: #fff;
}

.history-order div.table-responsive {
    margin-bottom: 20px;
}

.history-order div.table-responsive>table {
    margin-bottom: 0px;
}

.history-order .table>tbody>tr>td {
    border-top: 0px;
    border-bottom: 1px solid #ddd;
    min-width: 50px;
    padding: 15px;
    white-space: nowrap;
}

.cl-primary {
    color: #7266ba;
}

.cl-success {
    color: #27c24c;
}

.cl-info {
    color: #23b7e5;
}

.cl-warning {
    color: #fad733;
}

.cl-danger {
    color: #f05050;
}

.min-height-130 {
    min-height: 130px;
}

.card {
    background: #4CAF50;
    color: white;
}

.Request {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.Verified {
    background-color: #FF9800 !important;
}

.Delivery {
    background-color: #4CAF50 !important;
}

.Pending {
    background-color: rgba(158, 158, 158, 0.55) !important;
}

history-order-detail-info .order-time {
    padding: 10px;
}

.history-order-detail-info .order-price {
    padding: 10px;
}

.history-order-detail-info .note {
    padding: 10px;
}

.inner-page .component-content.history-order-detail {
    border: 0px;
    padding: 0px;
}

.inner-page .component-content.history-order-detail {
    border: 0px;
    padding: 0px;
}

.inner-page .component-content {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.history-order-detail-info {
    background: #fff;
    padding: 15px;
}

.history-order-detail-info .customer-info img {
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}

.br-green {
    background-color: #51d466 !important;
}

.history-order-detail-info .order-time {
    padding: 10px;
}

.history-order-detail-info .order-time img {
    height: 20px;
    display: inline-block;
}

.history-order-detail-info .order-time img {
    height: 20px;
    display: inline-block;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.history-order-detail-info .order-list .item .item-price {
    color: #f78153;
}

.history-order-detail-info .order-list .item .item-note {
    color: #aaa;
}

.history-order-detail-info .order-list .item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.order-google-map {
    min-height: 500px;
}

.history-order-detail-info .note {
    padding: 10px;
}

.history-order-detail-info .note>div {
    padding: 10px;
    color: #aaa;
    border: 1px solid #ddd;
    min-height: 100px;
}

.form-group {
    margin-bottom: 0px;
}

.search {
    margin-top: 5px;
    margin-left: -30px;
}