// Body
$body-bg: #f5f8fa;
// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;
// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;
// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway",
sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;
// Navbar
$navbar-default-bg: #fff;
// Buttons
$btn-default-color: $text-color;
// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);
// Panels
$panel-default-heading-bg: #fff;
.STM0100 {
    .top-toolbar {
        margin-bottom: 10px;
        .pull-left {
            h3 {
                margin: 0;
            }
        }
    }
    .panel {
        .panel-heading {
            .list-is-button {
                .pull-right {
                    .icon-toggle {
                        padding: 0px;
                        width: 32px;
                        height: 32px;
                        font-size: 22px;
                        background-color: #FF7942 !important;
                        color: white !important;
                    }
                }
            }
        }
        .panel-filter {
            border-bottom: none;
            span {
                &.input-group-btn {
                    width: auto;
                }
            }
            .form-group {
                .input-group {
                    display: inline-table;
                    vertical-align: middle;
                    button.resize {
                        height: 30px;
                    }
                }
                p {
                    margin-bottom: 0px;
                }
            }
            .panel-filter-btn {
                display: inline-block;
                width: 100%;
                height: 100%;
                margin-bottom: 10px;
            }
        }
        .table-wrapper {
            padding: 0 10px 0px 0px;
            .bg-color {
                background-color: transparent;
            }
            .potision-popover {
                position: relative;
            }
            .table {
                margin-bottom: 0px;
                border-left: 0px;
                thead {
                    >tr {
                        >th.action {
                            width: 130px !important;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            height: 35px;
                            vertical-align: middle;
                            padding: 0px;
                            &.not-set {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .table-label {
            width: 150px;
            float: left;
            margin-bottom: 0px;
            tbody {
                tr {
                    td {
                        height: 35px;
                        vertical-align: middle;
                    }
                }
            }
        }
        .panel-body {
            .time-sample-label {
                font-size: 15px;
                line-height: 1.45;
                font-weight: 400;
                color: #337ab7;
                font-weight: bold;
            }
            .time-sample {
                color: #337ab7;
            }
            .time-sample-btn {
                margin-bottom: 10px;
            }
            .disable-time-by-mode {
                .form-control[disabled] {
                    color: #ddd!important;
                }
            }
        }
    }
    .separator {
        height: 35px;
        line-height: 35px;
        font-size: 20px;
    }
    .radio-inline {
        font-size: 13px;
        font-weight: bold;
    }
    .date_radio {
        margin-bottom: 10px;
    }
    .checkFlg,
    .endFlg {
        background-color: #FC7D7D;
        width: auto;
        height: 22px;
        margin: 6px 0px;
    }
    .endFlg {
        background: #FC7D7D url(../../admin/img/play.png) no-repeat;
        background-size: 5px 22px;
        background-position: right 0;
        &:after {
            content: "";
            position: absolute;
            background-color: red;
        }
    }
    .table-stadium {
        tr {
            td {
                &:nth-of-type(2n+1) {
                    border-right: 1px dashed;
                }
                &:last-of-type {
                    border-right: 1px;
                }
            }
            td.col-san {
                padding-top: 3px;
                padding-bottom: 3px;
                line-height: 1.2;
            }
        }
        .col-khuvuc {
            width: 80px!important;
        }
        .col-san {
            width: 128px!important;
            margin-left: -129px;
        }
        .col-schedule {
            padding: 0px;
        }
        .col-ngay {
            width: 148px!important;
        }
    }
    .page-create {
        .table .headcol {
            margin-left: -149px !important;
        }
        .fix-column {
            margin-left: 213px !important;
        }
        .table {
            margin-left: -80px;
        }
    }
}