<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Option value item</h3>
                </div>
                <div class="box-header">
                    <div class="box-header-lable">
                        <h3>Add new Option Value Item</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="createOptionValueItemForm" (ngSubmit)="optionValueItemCreate()" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div style="width: 300px; margin-bottom: 20px;">
                                    <label class="titleBold">Option Name <label class="text-danger">*</label></label>
                                    <!--<ng-select #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected" [formControl]="optionName">
                                    </ng-select>-->
                                    <ng-select #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="choose value" [active]="[value]">
                                    </ng-select>
                                    <div>
                                    </div>
                                    <!--<input type="text" placeholder="name" class="inputViewHidden" name='optionName' [hidden]="isHidden" [formControl]="optionName">-->
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.optionName && formErrors.optionName?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.optionName">
                                        {{item}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="titleBold">Item Name <label class="text-danger">*</label></label>
                                    <input type="text" placeholder="name" class="form-control" name='name' [formControl]="name">
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.name">
                                        {{item}}
                                    </div>
                                </div>
                                <div class="margin-top-10">
                                    <button class="btn" type="button">CANCEL</button>
                                    <button class="btn btn-success" type="button" (click)=optionValueItemCreate()>ADD</button>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>