.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.box-header-lable h3 {
    padding-left: 10px;
    color: #fff;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-content .box-header-lable {
    float: left;
    height: 45px;
}

.box-header-lable h3 {
    padding-top: 10px;
}

.box-header {
    background-color: #09a89e;
}

.content {
    padding: 10px;
}

.box-body {
    padding: 10px;
    background: #eee;
}

.title-name {
    font: bold;
}

.form-group {
    margin-bottom: 15px;
}

.margin-top-10 {
    float: right;
    margin-right: 15px;
}

.inputViewHidden {
    width: 50px;
}