<div>
    <!-- <alert type="info">Hello from ng2-bootstrap {{
	date.toDateString() }}</alert>

	<datepicker [(ngModel)]="date" showWeeks="true"></datepicker> -->
    <div style="display:inline-block; min-height:290px;">
        <datepicker [(ngModel)]="dt" [minDate]="minDate" [showWeeks]="true" [dateDisabled]="dateDisabled"></datepicker>
    </div>
    <button type="button" class="btn btn-sm btn-info" (click)="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="d20090824();">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" (click)="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="toggleMin()" tooltip="After today restriction">Min date</button>
    <button type="button" class="btn btn-sm btn-default btn-secondary" (click)="disableTomorrow()">Disable Tomorrow</button>

	<hr>

   <!--  <div class="btn-group" dropdown>
	  <button  type="button" class="btn btn-primary" dropdownToggle>
	    Button dropdown <span class="caret"></span>
	  </button>
	  <ul dropdownMenu role="menu">
	    <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
	    <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
	    <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
	    <li class="divider dropdown-divider"></li>
	    <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
	  </ul>
	</div> -->

</div>
