<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        {{ 'order-setting.title'|translate}}
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="dtForm" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div class='row'>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Payment Fees($%) <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="256" placeholder="Input payment fee..." class="form-control" name='payment_fee' [formControl]="payment_fee" pattern="[0-9]*\.?[0-9]*" />
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.payment_fee && formErrors.payment_fee?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.payment_fee">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Minimum Order($) <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="20" placeholder="Input minimum order..." class="form-control" name='minimum_order' [formControl]="minimum_order" pattern="[0-9]*\.?[0-9]*" />
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.minimum_order && formErrors.minimum_order?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.minimum_order">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Delivery Method <label class="text-danger">*</label></label>
                                            <!--<input type="text" maxlength="4" placeholder="Input delivery methods..." class="form-control" name='delivery_methods' [formControl]="delivery_methods">-->
                                            <ng-select #DeliveryMethodSelect [multiple]="true" (data)="refreshDeliveryMethodValue($event)" placeholder="No delivery methods selected"></ng-select>
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.delivery_methods && formErrors.delivery_methods?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.delivery_methods">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Default Currency <label class="text-danger">*</label></label>
                                            <!--<input type="text" maxlength="4" placeholder="Input default currency..." class="form-control" name='default_currency' [formControl]="default_currency">-->
                                            <ng-select #Select [items]="items" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No default currency selected"></ng-select>
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.default_currency && formErrors.default_currency?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.default_currency">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Delivery Charges($) <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="256" placeholder="Input delivery charge..." class="form-control" name='delivery_charge' [formControl]="delivery_charge" pattern="[0-9]*\.?[0-9]*">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.delivery_charge && formErrors.delivery_charge?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.delivery_charge">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Payment Method <label class="text-danger">*</label></label>
                                            <!--<input type="text" maxlength="4" placeholder="Input payment method..." class="form-control" name='payment_method' [formControl]="payment_method">-->
                                            <ng-select #PaymentMethodSelect [multiple]="true" [disabled]="disabled" (data)="refreshPaymentMethodValue($event)" placeholder="No payment method selected"></ng-select>
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.payment_method && formErrors.payment_method?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.payment_method">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Delivery Time (Minutes) <label class="text-danger">*</label></label>
                                            <!--<input type="text" placeholder="Input delivery time..." class="form-control" name='delivery_time' [formControl]="delivery_time">-->
                                            <!--<timepicker [formControl]="delivery_time" [hourStep]="hourStep" [minuteStep]="minuteStep" [showMeridian]="showMeridian" [readonlyInput]="disabled" [mousewheel]="mousewheel" [arrowkeys]="arrowkeys" [showSpinners]="showSpinners" [min]="min" [max]="max"></timepicker>-->
                                            <timepicker [formControl]="delivery_time" [showMeridian]="showMeridian" (ngModelChange)="onChange($event)" (change)="onChangeDeliveryValue($event)"></timepicker>
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.delivery_time && formErrors.delivery_time?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.delivery_time">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Food Ordering System</label>
                                            <!--<input type="text" maxlength="4" placeholder="Input food ordering system type..." class="form-control" name='food_ordering_system_type' [formControl]="food_ordering_system_type">-->
                                            <div class="radiocheck">
                                                <div class="checkbox-inline">
                                                    <label class="i-checks">
                                                    <input type="radio" name="active" value="1" [formControl]="food_ordering_system_type">
                                                    <i></i>
                                                    Active
                                                </label>
                                                </div>
                                                <div class="checkbox-inline">
                                                    <label class="i-checks">
                                                    <input type="radio" name="active" value="0" [formControl]="food_ordering_system_type">
                                                    <i></i>
                                                    De-Active
                                                </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="titleBold">Unit Point <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="256" placeholder="Input unit point..." class="form-control" name='unit_point' [formControl]="unit_point" pattern="[0-9]*\.?[0-9]*">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.unit_point && formErrors.unit_point?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.unit_point">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="margin-top-10">
                                        <button class="btn btn-success" (click)="doSaveOrderSetting()">SAVE</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>