.app-content,
.navbar-collapse,
.app-footer {
    webkit-transition: margin-left 0.2s;
    transition: margin-left 0.2s;
}

.app-aside,
.navbar-header {
    webkit-transition: width 0.2s;
    transition: width 0.2s;
}

.app-aside-folded .aside-item-color.active>a {
    background: white;
    color: #00b29c !important;
    border-radius: 50%;
    width: 50px;
    text-align: center;
    margin-left: 5px;
}

.app-aside-folded .sub-item.active>a {
    background: rgba(255, 255, 255, 0.8) !important;
    color: #00b29c !important;
    border-radius: 0px !important;
    width: 180px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}