

<!-- <body class="hold-transition skin-blue sidebar-mini"> -->
	<!-- <div class="wrapper"> -->
		<app-header>{{ 'LOADING' | translate }} header...</app-header>

		<app-menu-aside [links]="mylinks">{{ 'LOADING' | translate }} menu...</app-menu-aside>

		<!-- Content Wrapper. Contains page content -->
		<div id="content" class="app-content" role="main">
			<!-- Content Header (Page header) -->
			<toaster-container [toasterconfig]="toastrConfig"></toaster-container>
		
			<!-- Main content -->
			<section class="app-content-body">
				<div class="box box-default">
					<div class="hbox hbox-auto-xs hbox-auto-sm">
						<router-outlet>
					
						</router-outlet>
						<!-- <ui-view></ui-view> -->
					</div>
				</div>
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->
		<app-footer>{{ 'LOADING' | translate }} footer...</app-footer>
		<!-- <app-aside>{{ 'LOADING' | translate }} control sidebar...</app-aside> -->
	<!-- </div> -->
	<!-- ./wrapper -->
<!-- </body> -->
