<div class="inner-page">
    <div class="layout-container">
        <div class="component-content history-order-detail">
            <div class="row">
                <div class='col-md-4 col-sm-4'>
                    <div class='history-order-detail-info' *ngIf="order != null">
                        <div class='customer-info'>
                            <div class='pull-left'>
                                <div style="padding-top:5px"> <i class="icon-basket-loaded " style="color:#23b7e5"></i>&nbsp; OrderId: <span>{{id}}</span></div>
                                <div style="padding-top:5px" class='' *ngIf="order.order_sts != 0"><i class="fa fa-address-card-o " style="color:#23b7e5"></i>&nbsp; {{order.name}}</div>
                                <div style="padding-top:5px" class='' *ngIf="order.order_sts != 0"> <i class="fa fa-phone " style="color:#23b7e5"></i>&nbsp; {{order.phone}}</div>
                            </div>
                            <div class='pull-right status-order badge {{order.order_sts_display}}'>Status:<span> {{order.order_sts_display}} </span></div>
                            <div class='clearfix'> </div>
                        </div>
                        <div class='order-time'>
                            <div>
                                <h5 class='bold'> Request time: </h5>
                                <div>
                                    <i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp; <span>{{order.order_time.split(' ')[0]}}</span>
                                    <i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; <span>{{order.order_time.split(' ')[1]}}</span>
                                </div>
                            </div>
                            <div>
                                <h5 class='bold'> Delivery time: </h5>
                                <div>
                                    <i class="fa fa-calendar " style="color:#23b7e5"></i>&nbsp;<span> {{order.delivery_time.split(' ')[0]}}</span>
                                    <i class="fa fa-clock-o " style="color:#23b7e5"></i>&nbsp; <span> {{order.delivery_time.split(' ')[1]}}</span>
                                </div>
                            </div>
                        </div>
                        <div class='order-list'>
                            <div class='item' *ngFor="let row of order.items">
                                <div class="col-xs-12 col-md-12 un-padding">
                                    <img class="img-responsive pull-left" src="frontend/img/dish/dish1.jpg">
                                    <div class='item-detail pull-left'>
                                        <div class='item-name bold'>{{row.name}} </div>
                                        <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.price}}</span> = <span> {{row.quantity*row.price}} </span> {{order.default_currency}} </div>
                                        <div class='item-price'> <span> {{row.quantity}} </span> x <span> {{row.point}}</span> = <span> {{row.quantity*row.point}} </span> </div>
                                    </div>
                                </div>


                                <div *ngFor="let option of row.option_items">
                                    <div class="col-xs-12 col-md-12 padding">
                                        <div>
                                            <div style="padding-left: 120px;" class='item-name '> + {{option.option_name}} - {{option.option_value_name}} </div>
                                            <div style="padding-left: 120px; border-bottom:0px" class='item-price'> <span> {{option.add_price}} {{order.default_currency}} ( {{option.point}} )</span> </div>

                                        </div>
                                    </div>
                                </div>

                                <div *ngIf="row.note != null" class='item-note'> Notes: <span>{{row.note}} </span> </div>
                                <div class='clearfix'> </div>

                            </div>

                        </div>
                        <div class='order-price'>
                            <div style="padding-top:10px">
                                Estimate:
                                <span class='pull-right bold text-right'> <span>{{order.total_price}} </span> {{order.default_currency}} </span>
                                <div class='clearfix'> </div>
                            </div>
                            <div style="padding-top:10px">
                                Ship fee: <span class='color-orange'> {{distance}} km </span>
                                <span class='pull-right bold text-right'> <span>{{order.delivery_fee}} </span> {{order.default_currency}} </span>
                                <div class='clearfix'> </div>
                            </div>
                            <div style="padding-top:10px">
                                Discount code: <span class='discount-code'>  {{order.promote_code}} </span>
                                <span class='pull-right bold text-right'> <span>{{order.promo_discount}} </span> {{order.default_currency}} </span>
                                <div class='clearfix'> </div>
                            </div>
                            <div style="padding-top:10px">
                                <span class='color-orange'>  Total </span>
                                <span class='pull-right bold text-right'> <span>{{totalAmount}} </span> {{order.default_currency}} </span>
                                <div class='clearfix'> </div>
                            </div>
                            <div class='border-line'> </div>
                            <div style="padding-top:10px">
                                <span> Payment method: </span>
                                <span class='pull-right bold color-orange'> cash on delivery </span>
                                <div class='clearfix'> </div>
                            </div>
                            <div style="padding-top:10px">
                                <span> Delivery method: </span>
                                <span class='pull-right bold color-orange'> {{deliveryMethod}}  </span>

                                <div class='clearfix'> </div>
                            </div>
                            <div *ngIf="order.delivery_type == 2" style="padding-top:10px">
                                <span>  Table Name: </span>
                                <span class='pull-right bold color-orange'>   
                                    <a  class="card btn btn-social-icon btn-success" >book table</a> 
                                </span>

                                <div class='clearfix'> </div>
                            </div>
                        </div>
                        <div class='note' *ngIf="order.note != null">
                            <h5 class='bold'>Note </h5>
                            <div>
                                {{order.note}}
                            </div>
                        </div>
                        <div style=" padding-left: 10px;">
                            <label>
                            <input type="checkbox" class="checkboxright"  >
                            Print Bill
                            </label>
                        </div>

                    </div>
                </div>
                <div class='col-md-8 col-sm-8'>
                    <div class='order-google-map'>
                        <div id="order-map">

                        </div>
                    </div>
                    <div style="padding-top:15px;" *ngIf="order != null">
                        <a *ngIf="order.order_sts == 0" class="card btn btn-social-icon btn-success" (click)="doUpdateOrder(1)">Accept</a>
                        <a *ngIf="order.order_sts == 0" class="card btn btn-social-icon btn-danger btn-google" (click)="doUpdateOrder(99)">Deny</a>

                        <a *ngIf="order.order_sts == 1" class="card btn btn-social-icon btn-success" (click)="doUpdateOrder(2)">Delivery</a>
                        <a *ngIf="order.order_sts == 1" class="card btn btn-social-icon btn-danger btn-google" (click)="doUpdateOrder(99)">Cancel</a>
                        <a *ngIf="order.order_sts == 2" class="card btn btn-social-icon  btn-success">In Bill</a>
                        <a *ngIf="order.order_sts == 2" class="card btn btn-social-icon  btn-primary">In Red Invoice</a>
                        <a *ngIf="order.order_sts == 2" class="card btn btn-social-icon btn-danger btn-google" (click)="doUpdateOrder(99)">Delete</a>

                        <a *ngIf="order.order_sts == 99" class="card btn btn-social-icon btn-success" (click)="doUpdateOrder(0)">Renew</a>
                        <a *ngIf="order.order_sts == 99" class="card btn btn-social-icon btn-danger btn-google">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>