.order-google-map {
    min-height: 500px;
}

.history-order-detail-info .order-time {
    padding: 10px;
}

.history-order-detail-info .order-price {
    padding: 10px;
}

.history-order-detail-info .note {
    padding: 10px;
}

.inner-page .component-content.history-order-detail {
    border: 0px;
    padding: 0px;
}

.inner-page .component-content.history-order-detail {
    border: 0px;
    padding: 0px;
}

.inner-page .component-content {
    margin-bottom: 30px;
    padding: 15px;
    border: 1px solid #eee;
    border-radius: 5px;
}

.history-order-detail-info {
    background: #fff;
    padding: 15px;
}

.history-order-detail-info .customer-info img {
    height: 20px;
    margin-right: 10px;
    display: inline-block;
}

.br-green {
    background-color: #51d466 !important;
}

.history-order-detail-info .order-time {
    padding: 10px;
}

.history-order-detail-info .order-time img {
    height: 20px;
    display: inline-block;
}

.history-order-detail-info .order-time img {
    height: 20px;
    display: inline-block;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.bold {
    font-weight: bold;
}

.history-order-detail-info .order-list .item .item-price {
    color: #f78153;
    font-weight: bold;
}

.history-order-detail-info .order-list .item .item-note {
    color: #aaa;
}

.history-order-detail-info .order-list .item .item-quatity {
    font-weight: bold;
}

.history-order-detail-info .order-list .item {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.history-order-detail-info .order-list .item img {
    height: 50px;
    margin-right: 10px;
}

.order-google-map {
    min-height: 500px;
}

.history-order-detail-info .note {
    padding: 10px;
}

.history-order-detail-info .note>div {
    padding: 10px;
    color: #aaa;
    border: 1px solid #ddd;
    min-height: 100px;
}

.order-google-map #order-map {
    min-height: 500px;
}

.un-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.pull-left {
    padding-left: 10px;
}

.discount-code {
    background: red;
    color: white;
    padding: 5px;
}

.Request {
    background: linear-gradient(154deg, #008fe2 0, #00b29c 100%);
}

.Verified {
    background-color: #FF9800 !important;
}

.Delivery {
    background-color: #4CAF50 !important;
}

.Pending {
    background-color: rgba(158, 158, 158, 0.55) !important;
}