<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Feedback</h3>
                    <p>Please send to us your any problem</p>
                </div>
            </div>
        </div>
    </div>
    <div>

        <form [formGroup]="dtForm" novalidate class="form-validation">
            <textarea class="form-control heightContent" maxlength="1536" placeholder="Enter Any Problem" name="feedback" [formControl]="content"></textarea>
            <br>
            <div *ngIf="formErrors.content && formErrors.content?.length > 0" class="alert alert-danger">
                <div *ngFor="let item of formErrors.content">
                    {{item}}
                </div>
            </div>
            <button class="btn btn-success btn-feedback" (click)="sendFeedback()"><i class="fa fa-send"></i> Send </button>
        </form>
    </div>
</div>