<a href="#" data-toggle="dropdown" class="dropdown-toggle clear" data-toggle="dropdown">
    <span class="thumb-sm avatar pull-right m-t-n-sm m-b-n-sm m-l-sm">
        <img src="{{this.restaurant.logo_path}}" alt="...">
        <i class="on md b-white bottom"></i>
    </span>
    <span class="hidden-sm hidden-md">{{this.restaurant.name}}</span> <b class="caret"></b>
</a>
<!-- dropdown -->
<ul class="dropdown-menu animated fadeInRight w">
    <li>
        <a routerLink="/profile"><i class="fa fa-user-circle-o"></i>&nbsp;&nbsp;{{ 'user_box.my_profile'|translate}}</a>
    </li>
    <li>
        <a routerLink="/my-orders"><i class="fa fa-key"></i>&nbsp;&nbsp;{{ 'user_box.my_orders'|translate}}</a>
    </li>
    <li>
        <a routerLink=""><i class="fa fa-key"></i>&nbsp;&nbsp; Print Invoice</a>
    </li>
    <li class="divider"></li>
    <li>
        <a (click)="logout()"><i class="fa fa-power-off text-danger" aria-hidden="true"></i>&nbsp;&nbsp;{{ 'user_box.logout'|translate}}</a>
    </li>
</ul>
<!-- / dropdown -->