
<div class="bg-light lter b-b wrapper-md">
  <div class="row">
      <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">{{header}}</h1>
          <ul class='breadcrumb'>
            <li *ngFor="let item of levels" [class.active]="item.active" class='text-muted'>
                <a [routerLink]="item.link">
                    <i class="fa fa-{{item.icon}}"></i> {{ item.title }}
                    
                </a>
            </li>
        </ul>
      </div>
     
  </div>
</div>
