<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Table</h3>
                </div>
                <div class="box-header">
                    <div class="box-header-lable">
                        <h3>Add new Table</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="createTableForm" (ngSubmit)="createTable()" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div class="form-group">
                                    <label class="titleBold">Table Name <label class="text-danger">*</label></label>
                                    <input type="text" placeholder="name" class="form-control" name='name' [formControl]="name" maxlength="256">
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.name">
                                        {{item}}
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="titleBold">Slots<label class="text-danger">*</label></label>
                                    <input type="number" placeholder="slots.." class="form-control" name='name' [formControl]="slots" maxlength="256">
                                </div>
                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                <div *ngIf="formErrors.slots && formErrors.slots?.length > 0" class="alert alert-danger">
                                    <div *ngFor="let item of formErrors.slots">
                                        {{item}}
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-sm-4 col-md-4">
                                        <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                                  <input type="file" name="file" accept="image/*"
                                      (change)="handleInputChange($event)">
                                  <div class="fileinput-new thumbnail">
                                <!--   <img id='image-restaurant' src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  *ngIf="!hiddenImage"> -->
                                    <i class="icon icon-upload"
                                        [style.color]="dragging
                                            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                                            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                                    <img
                                        [src]="imageSrc"
                                        (load)="handleImageLoad()"
                                        [class.loaded]="imageLoaded"/>

                                  </div>
                              </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                      <label class="titleBold">Description</label>
                                      <textarea [formControl]="description" maxlength="512" class="form-control" rows="3" placeholder="Your comment..." name='description'></textarea>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.description && formErrors.description?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.description">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="radiocheck">
                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                        <input type="radio" name="nameRadio" [formControl]="nameRadio" value="1" [checked]="checkFlg(1)" (change)="changenameRadio(1)">
                                        <i></i>
                                        Active
                                      </label>
                                            </div>
                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                        <input type="radio" name="nameRadio" [formControl]="nameRadio" value="0" [checked]="checkFlg(0)" (change)="changenameRadio(0)">
                                        <i></i>
                                        Deactive
                                      </label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <button class="btn" type="button" (click)="goBack()">CANCEL</button>
                                        <button class="btn btn-success" type="button" (click)="createTable()">ADD</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <!-- choose image -->



                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
