<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Reivew item </h3>

                    <div class="clearfix "></div>

                </div>
                <div *ngFor="let item of foodItems">
                    <div class="box-header ">
                        <div class="box-header-left ">
                            {{item.name}}
                        </div>
                        <div class="box-header-right ">

                        </div>
                        <div class="clearfix "></div>
                    </div>
                    <div class="box-body no-padding ">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class=" box-body-height ">
                                <div class="panel ">
                                    <div class="info-box ">
                                        <div class="info-box-content " *ngFor="let itemValue of reviewFoodItems ">
                                            <div class="info-box-button " *ngIf="item.id==itemValue.item_id ">

                                                <div class="tab-content">
                                                    <span style="color:#9a9a9a;font-size:20px;">{{itemValue.title == null ? 'no title' : itemValue.title}}</span>
                                                    <span class="pull-right" style=" padding-top: 10px;">Review by <strong>{{itemValue.email}}</strong> {{itemValue.cre_ts}}</span>
                                                    <br>
                                                    <span *ngFor="let i of getRating(itemValue) "><i  class="fa fa-star" style="color:orange" aria-hidden="true"></i></span>


                                                    <div style="font-size:15px">{{itemValue.content == null ? 'no comment': itemValue.content}}
                                                        <button *ngIf="itemValue.active_flg==1 " class=" btn btn-success btn-social-icon" (click)="updateReviewFoodItems(itemValue)" style="border-radius:50px;float: right;"><i class="fa-unlock fa " style="color:#fff;"> <strong>activated</strong></i></button>
                                                        <button *ngIf="itemValue.active_flg==0 " class=" btn btn-social-icon " (click)="updateReviewFoodItems(itemValue)" style="border-radius:50px;background:gray;float: right;"><i class="fa-lock fa " style="color:#fff"> <strong>deactivated</strong></i></button>
                                                        <a class="text-danger iconItem " (click)="deleteReviewFoodItem(itemValue)"><i class="fa fa-trash "></i></a>
                                                    </div>
                                                </div>

                                                <div class="clearfix" style="margin-bottom:10px"></div>

                                            </div>

                                        </div>

                                    </div>
                                    <div class="clearfix "></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>