<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Contents</h3>
                    <h5>(About us, Privacy, Terms & Conditions)</h5>
                </div>
            </div>
        </div>
    </div>
    <div>

        <tabset #staticTabs>
            <tab heading="ABOUT US">
                <form [formGroup]="dtForm" novalidate class="form-validation">
                    <button class="btn btn-success" (click)="addAboutUs()"><i class="fa fa-pencil"></i> EDIT</button>
                    <textarea class="form-control heightContent" maxlength="1024" placeholder="About us..." name="aboutUs" [formControl]="aboutUs"></textarea>
                    <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                    <div *ngIf="formErrors.aboutUs && formErrors.aboutUs?.length > 0" class="alert alert-danger">
                        <div *ngFor="let item of formErrors.aboutUs">
                            {{item}}
                        </div>
                    </div>
                </form>
            </tab>
            <tab heading="PRIVACY">
                <button class="btn btn-success" (click)="addPrivatePolicy()"><i class="fa fa-pencil"></i> EDIT</button>
                <textarea class="form-control heightContent" maxlength="1024" placeholder="Private policy..." name="privatePolicy" [formControl]="privatePolicy"></textarea>
                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                <div *ngIf="formErrors.privatePolicy && formErrors.privatePolicy?.length > 0" class="alert alert-danger">
                    <div *ngFor="let item of formErrors.privatePolicy">
                        {{item}}
                    </div>
                </div>
            </tab>
            <tab heading="TERMS OF USE">
                <button class="btn btn-success" (click)="addTermOfUse()"><i class="fa fa-pencil"></i> EDIT</button>
                <textarea class="form-control heightContent" maxlength="1024" placeholder="Term of use..." name="termOfUse" [formControl]="termOfUse"></textarea>
                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                <div *ngIf="formErrors.termOfUse && formErrors.termOfUse?.length > 0" class="alert alert-danger">
                    <div *ngFor="let item of formErrors.termOfUse">
                        {{item}}
                    </div>
                </div>
            </tab>
        </tabset>

    </div>
</div>