.panel {
  background-color: #fff;
  height: 100%;
  padding-bottom: 50px;
}

.box-header-lable h3 {
  padding-left: 10px;
  color: #fff;
}

.info-box-text {
  text-transform: uppercase;
}

.info-box-content .box-header-lable {
  float: left;
  height: 45px;
}

.box-header-lable h3 {
  padding-top: 10px;
}

.box-header {
  background-color: #09a89e;
}

.content {
  padding: 10px;
}

.box-body {
  padding: 10px;
  background: #eee;
}

.title-name {
  font: bold;
}

.form-group {
  margin-bottom: 15px;
}

.fileinput {
  display: inline-block;
  margin-bottom: 9px;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileinput-exists .fileinput-new, .fileinput-new .fileinput-exists {
  display: none;
}

.fileinput .thumbnail {
  display: inline-block;
  margin-bottom: 5px;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}

.fileinput-exists {
  display: none;
}

.fileinput .btn {
  vertical-align: middle;
}

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  justify-content: center;
  text-align: center;
}

button {
  margin-top: 2em;
}

.margin-top-10 {
  float: right;
  margin-right: 15px;
}

.thumbnail {
  width: 200px;
  height: 150px;
  margin-top: 10px;
}

.radiocheck {
  margin-top: 15px;
}

.titleBold {
  font-weight: bold;
}
