.sebm-google-map-container {
    height: 300px;
}

.nav-pills {
    background: darkslateblue;
    color: white !important;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

.rst-form-input {
    margin-top: 25px;
}

.wizard-footer {
    margin: 25px;
}

.pull-right,
.pull-left {
    margin-bottom: 20px;
}

.order-google-map {
    min-height: 300px;
}

.order-google-map #order-map {
    min-height: 300px;
    margin-bottom: 20px;
}

.nav-pills>li>a {
    border-radius: 0px !important;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.thumbnail {
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

@media screen and (max-width: 950px) {
    .labelInRow {
        white-space: nowrap;
    }
}