<div class="layout-container">
    <div class="col-sm-12 col-sm-offset-0">
        <div class="wizard-container">
            <div class="card wizard-card ct-wizard-green" id="wizard">
                <form [formGroup]="createProfileForm" (ngSubmit)="createProfile()" novalidate class="form-validation">
                    <ul class="nav nav-pills">
                        <li style="padding-left: 0px; width: 33%;" class="active"><a href="#location" data-toggle="tab" aria-expanded="true">Owner</a></li>
                        <li style="padding-left: 0px; width: 33%;"><a href="#type" (click)="chagetab(type)" data-toggle="tab">Restaurant</a></li>
                        <li style="padding-left: 0px; width: 33%;"><a href="#facilities" data-toggle="tab">Social</a></li>

                    </ul>
                    <div class="tab-content">
                        <!-- step 1-->
                        <div class="tab-pane active" id="location">
                            <div class="row rst-form-input">
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-4">
                                        <label>
                                                First Name <span class="text-danger errorRequired">*</span>
                                            </label>
                                        <input type="text" name="OwnerName" class="form-control Required" placeholder="fisrt Name" [formControl]="first_name">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.first_name && formErrors.first_name?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.first_name">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>
                                                Last Name <span class="text-danger errorRequired">*</span>
                                            </label>
                                        <input type="text" name="LastName" id="LastName" class="form-control Required" placeholder="Last Name" [formControl]="last_name">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.last_name && formErrors.last_name?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.last_name">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <!--<div class="form-group">-->
                                        <label class="labelInRow">
                                                Mobile Number <span class=" labelInRow text-danger errorRequired">*</span>
                                            </label>
                                        <!--</div>-->
                                        <input type="text" name="Mobileno" id="Mobileno" onkeypress="return isNumberKey(event);" class="form-control Required" placeholder="Mobile Number" [formControl]="phone">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.phone && formErrors.phone?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.phone">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-2">
                                        <!--<div class="form-group">-->
                                        <label class="labelInRow">
                                                Tel Number <span class="labelInRow text-danger errorRequired">*</span>
                                            </label>
                                        <!--</div>-->
                                        <input type="text" name="tel" id="tel" onkeypress="return isNumberKey(event);" class="form-control Required" placeholder="Mobile Number" [formControl]="tel">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.tel && formErrors.tel?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.tel">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group col-sm-4">
                                        <label>
                                                Email Id <span class="text-danger errorRequired">*</span>
                                            </label>
                                        <input type="email" name="EmailId" id="EmailId" class="form-control Required" value="kieu-trinh@system-exe.com.vn" placeholder="Your email" [formControl]="email">
                                        <div *ngIf="formErrors.email && formErrors.email?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.email">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>
                                                Password <span class="text-danger errorRequired">*</span>
                                            </label>
                                        <input type="password" name="Password" class="form-control Required" placeholder="Password" [formControl]="password">
                                        <div *ngIf="formErrors.password && formErrors.password?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.password">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-4">
                                        <label>
                                               Confirm Password <span class="text-danger errorRequired">*</span>
                                            </label>
                                        <input type="password" name="confirm_password" class="form-control Required" placeholder="Confirm password" [formControl]="confirm_password">
                                        <div *ngIf="formErrors.confirm_password && formErrors.confirm_password?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.confirm_password">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- step 2-->
                        <div class="tab-pane " id="type">
                            <div class="row rst-form-input">
                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label>
                                                Restaurant Name <span class="text-danger errorRequired">*</span></label>
                                        <input type="text" name="ShopName" value="kfc" class="form-control required" placeholder="Restaurant Name" [formControl]="restaurant_name">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.restaurant_name && formErrors.restaurant_name?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.restaurant_name">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group">
                                        <label>
                                                Restaurant Address <span class="text-danger errorRequired">*</span></label>
                                        <textarea name="Address" class="form-control required location " id="txtAddress" placeholder="Restaurant Address" [formControl]="restaurant_address"> </textarea>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.restaurant_address && formErrors.restaurant_address?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.restaurant_address">
                                                {{item}}
                                            </div>
                                        </div>

                                        <span class="color-red font12">Note:-Enter Full Restaurant Address to display Route
                                                to your restaurant properly in Mobile App.</span>
                                    </div>
                                    <input type="button" style="background-color: #FF8508; color: #fff; border-style: none;
                                                        padding: 10px 15px; border-radius: 5px;" value="Search Map" id="btnSearchMap" (click)="SearchMapChange()">
                                </div>
                                <div class="col-sm-12">
                                    <label>
                                        Drag and Drop Marker to Restaurant Address
                                    </label>
                                    <div class='order-google-map'>
                                        <div id="order-map">

                                        </div>
                                    </div>
                                </div>
                                <br>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                                Restaurant Phone Number</label>
                                        <input type="text" name="Phoneno" id="Phoneno" class="form-control" onkeypress="return isNumberKey(event);" value="09346668800" maxlength="16" placeholder="Phone Number" [formControl]="restaurant_tel_number">
                                        <label>
                                                Restaurant Mobile Number</label>
                                        <input type="text" name="Phoneno" id="Phoneno" class="form-control" onkeypress="return isNumberKey(event);" value="09346668800" maxlength="16" placeholder="Phone Number" [formControl]="restaurant_mobile_number">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                                Restaurant Timing <span class="text-danger errorRequired">*</span></label>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <timepicker #selectTimeOpen [formControl]="open_time" [showMeridian]="showMeridian" (ngModelChange)="onChangeOpen($event)" (change)="onChangeOpenValue($event)"></timepicker>
                                                    <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                                    <div *ngIf="formErrors.open_time && formErrors.open_time?.length > 0" class="alert alert-danger">
                                                        <div *ngFor="let item of formErrors.open_time">
                                                            {{item}}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <timepicker [formControl]="close_time" [showMeridian]="showMeridian" (ngModelChange)="onChangeClose($event)" (change)="onChangeCloseValue($event)"></timepicker>
                                                <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                                <div *ngIf="formErrors.close_time && formErrors.close_time?.length > 0" class="alert alert-danger">
                                                    <div *ngFor="let item of formErrors.close_time">
                                                        {{item}}
                                                    </div>
                                                </div>
                                            </div>
                                            <label id="InvalidTime" class="color-red" style="margin-top: 9px; margin-left: 16px;
                                                    display: none;">
                                                    Open and close time could not be same!
                                                </label>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                                  <input type="file" name="file" accept="image/*"
                                      (change)="handleInputChange($event)">
                                  <div class="fileinput-new thumbnail"> 
                                <!--   <img id='image-restaurant' src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  *ngIf="!hiddenImage"> -->
                                    <i class="icon icon-upload" 
                                        [style.color]="dragging 
                                            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                                            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                                    <img 
                                        [src]="imageSrc" 
                                        (load)="handleImageLoad()" 
                                        [class.loaded]="imageLoaded"/>

                                  </div>
                                    </label>
                                    </div>
                                    <div class="form-group">
                                        <label>
                                                Default Currency <span class="text-danger errorRequired">*</span></label>
                                        <ng-select #SelectCurrencyId [items]="itemCurrencys" [disabled]="disabled" (data)="refreshCurrencyValue($event)" (selected)="selected($event)" (removed)="currencyremoved($event)" (typed)="typed($event)" placeholder="No city selected" [active]="[valueCurrentcy]">
                                        </ng-select>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.default_currency && formErrors.default_currency?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.default_currency">
                                                {{item}}
                                            </div>
                                        </div>
                                        <br>
                                        <span class="color-red font12">Note:-This is the default currency accepted by your payment
                                                processor.</span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                                Restaurant Other Email</label>
                                        <input type="email" name="other_email" class="form-control" placeholder="Alternate Email" [formControl]="restaurant_other_email">
                                    </div>
                                    <div class="form-group">
                                        <h5>
                                            Select Your Restaurant Type <span class="text-danger errorRequired">*</span></h5>

                                        <ng-select #SelectId [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="No city selected" [active]="[value]">
                                        </ng-select>
                                        <input type="hidden" name="cuisine_type" id="cuisineType">
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.rest_type && formErrors.rest_type?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.rest_type">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="clearfix">
                                        </div>
                                        <div class="col-sm-12">
                                            <h5>
                                                Get Your Own Restaurant Website URL <span class="text-danger errorRequired">*</span></h5>
                                            <a style="font-size: 18px;">http://ifoodgo.com/<span class="resturl"></span></a>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <input type="text" name="Subdomain" id="Subdomain" onpaste="return false;" onkeypress="return validAlphaNum(event);" class="form-control  required" placeholder="Enter Restaurant URL" [formControl]="website">
                                            </div>
                                        </div>
                                        <input type="hidden" id="ischeckdomain" value="">
                                        <div class="col-sm-12 ">
                                            <div class="form-group hide">
                                                <input type="button" style="background-color: #FF8508; color: #fff; border-style: none;
                                                        padding: 10px 15px; border-radius: 5px;" value="Check" id="btncheck">
                                            </div>
                                            <!-- Notification-->

                                            <div class="form-group">
                                                <span class="color-green font12">Hint: If Restaurant Name is "TT Food" than you can enter
                                                        "TTFood" for your unique URL. Your Own Restaurant Website URL will be http://ifoodgo.com/TTFood
                                                    </span>
                                                <br>
                                                <span class="color-red font12">Note : Space and Special Characters are Not Allowed.</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <h5>
                                            Promo code</h5>
                                        <input type="text" name="Promocode" id="Promocode" class="form-control" placeholder="Enter Promocode" value="" maxlength="8" [formControl]="promotion">
                                        <label id="PromoError" class="color-red">
                                            </label>
                                        <label id="PromoSuccess" class="color-green">
                                            </label>
                                        <input type="hidden" id="ischeckpromocode" value="">
                                    </div>

                                    <div class="form-group">
                                        <h5>
                                            Promo Discount</h5>
                                        <input type="text" name="Promocode" id="Promocode" class="form-control" placeholder="Enter Promocode" value="" maxlength="8" [formControl]="promo_discount">
                                        <label id="PromoError" class="color-red">
                                            </label>
                                        <label id="PromoSuccess" class="color-green">
                                            </label>
                                        <input type="hidden" id="ischeckpromocode" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- step 3-->
                        <div class="tab-pane" id="facilities">
                            <div class="row rst-form-input">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                                Facebook URL</label>
                                        <input type="text" name="Facebook" class="form-control" placeholder="Facebook URL" [formControl]="facebook_link">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                                Twitter URL</label>
                                        <input type="text" name="Twitter" class="form-control" placeholder="Twitter URL" [formControl]="twitter_link">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>
                                                Linkedin URL</label>
                                        <input type="text" name="Linkedin" class="form-control" placeholder="Linkedin URL" [formControl]="linkedIn_link">
                                    </div>
                                    <div class="form-group">
                                        <label>
                                                Google Plus URL</label>
                                        <input type="text" name="Google" class="form-control" placeholder="Google URL" [formControl]="google_plus_link">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="wizard-footer">
                        <div class="pull-right">
                            <!--input type="button" class="btn btn-next btn-fill btn-success btn-wd btn-sm" name="next" value="Next" id="btnNext"-->
                            <input type="submit" class="btn btn-finish btn-fill btn-success btn-wd btn-sm" name="finish" value="Finish" id="btnsubmit">
                        </div>
                        <div class="pull-left">
                            <!--input type="button" class="btn btn-previous btn-fill btn-success btn-wd btn-sm disabled" name="previous" value="Previous"-->
                        </div>
                        <div class="clearfix">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- wizard container -->
    </div>
</div>