<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
    <div class="text-center m-b-lg">
        <h1 class="text-shadow text-white">404</h1>
    </div>
    <div class="list-group auto m-b-sm m-b-lg">
        <a class="list-group-item bg-info text-lt" routerLink="" >
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-mail-forward m-r-xs text-lt"></i> <span class="text-lt">Goto application</span>
        </a>
        <a routerLink="/login" class="list-group-item bg-success">
            <i class="fa fa-chevron-right text-muted"></i>
            <i class="fa fa-fw fa-sign-in m-r-xs text-lt"></i> <span class="text-lt">Sign in</span>
        </a>
    </div> 
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        <p>
            <small class="text-muted">@ 2017 by SystemEXE VN Co., Ltd.<!-- <br>&copy; 2014 --></small>
        </p>
    </div>
</div>