<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Option item </h3>
                    <div class="title-icon-left">
                        <a class="card btn btn-social-icon btn-success btn-create-item" (click)="createOptionValueFoodItem()"><i class="fa-plus fa "></i></a></div>
                    <div class="clearfix "></div>

                </div>
                <div class=" " *ngFor="let item of optionFoodItems ">
                    <div class="box-header ">
                        <div class="box-header-left ">
                            {{item.name}}
                        </div>
                        <div class="box-header-right ">
                            <a class="card btn btn-social-icon " (click)="createOptionValueFoodItemForOption(item)"><i class="fa-plus fa "></i></a>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                    <div class="box-body no-padding ">
                        <div class="col-md-12 col-sm-12 col-xs-12 ">
                            <div class=" box-body-height ">
                                <div class="panel ">
                                    <div class="info-box ">
                                        <div class="info-box-content " *ngFor="let itemValue of optionValueFoodItems ">
                                            <div class="info-box-button " *ngIf="item.id==itemValue.option_id ">
                                                <a class="text-success iconItem " (click)="editOptionValueFoodItemForOption(itemValue)"><i class="fa-pencil fa "></i></a>
                                                <a class="text-danger iconItem " (click)="deleteOptionFoodItem(itemValue)"><i class="fa fa-trash "></i></a>
                                                <span class="labelItem ">{{itemValue.name}}</span>
                                                <div class="clearfix "></div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="clearfix "></div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix "></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>