<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Option item</h3>
                </div>
                <div class="box-header">
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" (click)="createOptionFoodItem()"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class=" box-body-height">
                            <div class="panel">
                                <div class="info-box">
                                    <div class="info-box-content">
                                        <div class="info-box-button" *ngFor="let item of optionFoodItems">
                                            <a class="text-success iconItem" (click)="editOptionFoodItem(item)"><i class="fa-pencil fa"></i></a>
                                            <a class="text-danger iconItem" (click)="deleteOptionFoodItem(item)"><i class="fa  fa-trash"></i></a>
                                            <span class="labelItem">{{item.name}}</span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</section>