.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.content {
    padding: 10px;
}

.info-box-text {
    text-transform: uppercase;
}

.box-header {
    background-color: #09a89e;
}

.box-body .box-body-height {
    margin-top: 10px;
}

.box-header-right {
    float: right;
    height: 45px;
    margin-right: 10px;
}

.box-header .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-right: 2px;
}

.box-body {
    padding: 10px;
    background: #fff;
}

.iconItem {
    margin-right: 20px;
    font-size: 20px;
    float: left;
}

.labelItem {
    padding-top: 4px;
    float: left;
    margin-right: 20px;
}

.info-box-button {
    margin-bottom: 10px;
}