.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.box-header-lable h3 {
    padding-left: 10px;
    color: #fff;
}

.info-box-text {
    text-transform: uppercase;
}

.info-box-content .box-header-lable {
    float: left;
    height: 45px;
}

.box-header-lable h3 {
    padding-top: 10px;
}

.box-header {
    background-color: #09a89e;
}

.content {
    padding: 10px;
}

.box-body {
    padding: 10px;
    background: #eee;
}

.title-name {
    font: bold;
}

.form-group {
    margin-bottom: 15px;
}

.fileinput {
    display: inline-block;
    margin-bottom: 9px;
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileinput-exists .fileinput-new,
.fileinput-new .fileinput-exists {
    display: none;
}

.fileinput .thumbnail {
    display: inline-block;
    margin-bottom: 5px;
    overflow: hidden;
    text-align: center;
    vertical-align: middle;
}

.fileinput-exists {
    display: none;
}

.fileinput .btn {
    vertical-align: middle;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    justify-content: center;
    text-align: center;
}

button {
    margin-top: 2em;
}

.margin-top-10 {
    float: right;
    margin-right: 15px;
}

.thumbnail {
    width: 200px;
    height: 150px;
    margin-top: 10px;
}

.radiocheck {
    margin-top: 15px;
}

.titleBold {
    font-weight: bold;
}

.titleText {
    display: inline-block;
    width: 50%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    border-bottom: 1px solid #ccc!important;
    padding-bottom: 3px;
}

.titleCheckBox {
    border-bottom: 1px solid #ccc!important;
}

.titleColor {
    font-weight: bold;
    font-size: 17px;
    color: #09a89e;
}

.title-icon-left {
    display: inline-block;
    padding-left: 10px;
}

.btn-create-item {
    border-radius: 40px;
    margin-bottom: 0px;
}

.rowborder {
    border-bottom: 1px solid #ccc!important;
    float: left;
    width: 100%;
    margin-bottom: 10px;
}

.box-header-option {
    margin-bottom: 10px;
}

.box-header-left {
    float: left;
    height: 45px;
    margin-left: 10px;
    padding-top: 12px;
    color: #fff;
    display: inline-block;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*-------------------------------------------------------*/

.checkbox {
    float: left;
    position: relative;
    top: 0.625rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.checkboxright {
    float: right;
    position: relative;
    top: 0.625rem;
    margin: 0 1rem 0 0;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 50px;
}

.radiocheck ol,
.radiocheck ul {
    list-style: none;
}

.checkbox:before,
.checkboxright:before {
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    content: "";
    position: absolute;
    left: 0;
    z-index: 1;
    width: 1rem;
    height: 1rem;
    border: 2px solid #f2f2f2;
}

.checkbox:checked:before,
.checkboxright:checked:before {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #009688;
    border-top-style: none;
    border-right-style: none;
}

.checkbox:after,
.checkboxright:after {
    content: "";
    position: absolute;
    top: -0.125rem;
    left: 0;
    width: 1.1rem;
    height: 1.1rem;
    background: #fff;
    cursor: pointer;
}

.radiocheck .foodType,
.radiocheck .isAlcoho {
    margin-left: 20px;
    padding-left: 0px;
}