<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Item</h3>
                    <h5>(Thai , italia, phap)</h5>
                </div>
                <div class="box-header">
                    <div class="box-header-lable">
                        <h3>New Item</h3>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">

                        <div class="list-group-item">
                            <form [formGroup]="createItemForm" (ngSubmit)="createItem()" novalidate class="form-validation">
                                <div class='row'>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Category<label class="text-danger">*</label></label>
                                            <ng-select #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="choose value" [active]="[value]">
                                            </ng-select>
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.category_id && formErrors.category_id?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.category_id">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Item Name <label class="text-danger">*</label></label>
                                            <input type="text" placeholder="name" class="form-control" name='name' [formControl]="name" maxlength="256">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.name">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Sku<label class="text-danger">*</label></label>
                                            <input type="text" placeholder="sku" class="form-control" name='sku' [formControl]="sku" maxlength="128">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.sku && formErrors.sku?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.sku">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Price($) <label class="text-danger">*</label></label>
                                            <input type="text" placeholder="price" class="form-control" name='price' [formControl]="price" maxlength="10">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.price && formErrors.price?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.price">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Point<label class="text-danger">*</label></label>
                                            <input type="text" placeholder="point" class="form-control" name='point' [formControl]="point" maxlength="128">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.sku && formErrors.point?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.point">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class='row'>
                                    <div class="col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <label class="titleColor">Option Item</label>
                                            <div class="title-icon-left">
                                                <a class="card btn btn-social-icon btn-success btn-create-item" (click)="createOptionValueFoodItem()"><i class="fa-plus fa "></i></a></div>
                                            <div class="clearfix "></div>
                                        </div>
                                    </div>
                                </div>
                                <div class='row'>
                                    <div class="form-group">
                                        <div class="radiocheck">
                                            <ul class="foodType">
                                                <li class="list__item" *ngFor="let item of optionFoodItems">
                                                    <div class="box-header box-header-option">
                                                        <div class="box-header-left ">
                                                            {{item.name}}
                                                        </div>
                                                        <div class="clearfix "></div>
                                                    </div>
                                                    <div class='row' *ngFor="let itemValue of optionALLItemValueFoodItems">
                                                        <div *ngIf="item.id==itemValue.option_id ">
                                                            <div class="col-sm-5 col-md-5">
                                                                <div class='row'>
                                                                    <div class=''>
                                                                        <div class="col-xs-10 col-sm-10 col-md-10" style="padding-right: 0px!important">
                                                                            <label class="titleBold titleText">{{item.name}}</label><label class="titleBold titleText"> - {{itemValue.option_value_name}}</label>
                                                                        </div>
                                                                        <div class="col-xs-2 col-sm-2 col-md-2" style="padding-left: 0px!important">
                                                                            <label class="titleBold titleCheckBox">
                                                                            <input type="checkbox" class="checkboxright" [checked]="checkboxFlg(itemValue)" (change)="changeCheckboxFlg($event,itemValue)">
                                                                             </label>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-2 col-md-2">
                                                                <input type="number" min="0" step="1" limit-to="10" placeholder="add price" class="form-control" name='add_price' [attr.disabled]="isDisabled(itemValue) ? true : null" value="{{itemValue.add_price}}" (change)="changeaddPrice($event,itemValue)">
                                                            </div>
                                                            <div class="col-sm-2 col-md-2">
                                                                <input type="number" min="0" step="1" limit-to="10" placeholder="add point" class="form-control" name='add_point' [attr.disabled]="isDisabled(itemValue) ? true : null" value="{{itemValue.point}}" (change)="changeaddPoint($event,itemValue)">
                                                            </div>
                                                            <div class="col-sm-3 col-md-3">
                                                                <div class="radiocheck">
                                                                    <div class="checkbox-inline">
                                                                        <label class="i-checks">
                                                                    <input type="radio" name="activeFlg+{{itemValue.option_value_id}}" value="1" [checked]="checkActiveFlg(1,itemValue)" [attr.disabled]="isDisabled(itemValue) ? true : null" (change)="changeActiveFlg($event,1,itemValue)">
                                                                    <i></i>
                                                                    Active
                                                                </label>
                                                                    </div>
                                                                    <div class="checkbox-inline">
                                                                        <label class="i-checks">
                                                                    <input type="radio" name="activeFlg+{{itemValue.option_value_id}}" value="0" [checked]="checkActiveFlg(0,itemValue)" [attr.disabled]="isDisabled(itemValue) ? true : null"(change)="changeActiveFlg($event,0,itemValue)">
                                                                    <i></i>
                                                                    De Active
                                                                </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class='row'>
                                    <div class="col-sm-4 col-md-4">
                                        <label class="uploader" ondragover="return false;" [class.loaded]="loaded" [style.outlineColor]="dragging ? activeColor : baseColor" (dragenter)="handleDragEnter()" (dragleave)="handleDragLeave()" (drop)="handleDrop($event)">
                                  <input type="file" name="file" accept="image/*"
                                      (change)="handleInputChange($event)">
                                  <div class="fileinput-new thumbnail"> 
                                <!--   <img id='image-restaurant' src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt=""  *ngIf="!hiddenImage"> -->
                                    <i class="icon icon-upload" 
                                        [style.color]="dragging 
                                            ? ((imageSrc.length > 0) ? overlayColor : activeColor)
                                            : ((imageSrc.length > 0) ? overlayColor : baseColor)"></i>
                                    <img 
                                        [src]="imageSrc" 
                                        (load)="handleImageLoad()" 
                                        [class.loaded]="imageLoaded"/>

                                  </div>
                              </label>
                                    </div>
                                    <div class="col-sm-8 col-md-8">
                                        <label class="titleBold">Description</label>
                                        <textarea class="form-control" rows="3" placeholder="Your comment..." name='description' [formControl]="description"></textarea>
                                        <div class="radiocheck">
                                            <div class="checkbox-inline">
                                                Status
                                            </div>
                                        </div>
                                        <div class="radiocheck">

                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                        <input type="radio" name="nameRadio" value="1" [checked]="checkFlg(1)" (change)="changenameRadio(1)">
                                        <i></i>
                                        Active
                                      </label>
                                            </div>
                                            <div class="checkbox-inline">
                                                <label class="i-checks">
                                        <input type="radio" name="nameRadio" value="0" [checked]="checkFlg(0)" (change)="changenameRadio(0)">
                                        <i></i>
                                        De Active
                                      </label>
                                            </div>
                                        </div>
                                        <div class="radiocheck">
                                            <ul class="foodType">
                                                <li class="list__item">
                                                    <label class="label--checkbox">
                                            <input type="checkbox" class="checkbox" [checked]="checkfoodType()" (change)="changefoodType($event)">
                                              Vegetarian
                                            </label>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="radiocheck">
                                            <ul class="isAlcoho">
                                                <li class="list__item">
                                                    <label class="label--checkbox">
                                            <input type="checkbox" class="checkbox" [checked]="checkIsAlcoho()" (change)="changeIsAlcoho($event)">
                                              Contain Alcoho
                                            </label>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="margin-top-10">
                                <button class="btn" type="button">CANCEL</button>
                                <button class="btn btn-success" type="submit" (click)="createItem()" ng-disabled='form.$invalid'>ADD</button>
                            </div>
                            <div class="clearfix"></div>
                            <div class="clearfix"></div>
                        </div>
                        <!-- choose image -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>