.dishes .img-frame .img-frame-hover #add-shopping-cart i {
    position: absolute !important;
    top: 80% !important;
    left: 50% !important;
    width: 60px !important;
    height: 60px !important;
    margin-top: -30px !important;
    margin-left: -30px !important;
    line-height: 60px !important;
    text-align: center !important;
    font-size: 22px !important;
    background: rgba(0, 0, 0, 0.5) !important;
    border-radius: 60px !important;
}

.dishes-item-container .img-frame img{
  width: 244px;
  height: 244px;
}
