<div class="container w-xxl w-auto-xs">
    <a href class="navbar-brand block m-t title">iFoodGo Admin Portal</a>

    <div class="m-b-lg">
        <div class="wrapper text-center " style=" font-size: 14px;
    font-weight: normal !important;">
            <strong>{{ 'login.description'|translate}}</strong>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="form-validation">
            <div class="text-danger wrapper text-center">
            </div>
            <div class="list-group list-group-sm">

                <div class="list-group-item">
                    <input type="text" placeholder="Email" class="form-control no-border" name='email' [formControl]="email">
                    <span class="fa fa-envelope form-control-feedback"></span>
                    <div *ngIf="formErrors.email && formErrors.email?.length > 0" class="alert alert-danger">
                        <div *ngFor="let item of formErrors.email">
                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <input type="password" placeholder="Password" class="form-control no-border" name='password' [formControl]="password">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    <div *ngIf="formErrors.password && formErrors.password?.length > 0" class="alert alert-danger">
                        <div *ngFor="let item of formErrors.password">
                            {{item}}
                        </div>
                    </div>
                </div>
                <div class="list-group-item">
                    <ng-select #SelectId [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="choose value" [active]="[value]">
                    </ng-select>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-success btn-block" ng-click="login()" ng-disabled='form.$invalid'><i  class="fa fa-sign-in"></i> Log in <i *ngIf="isHidden==false" class="fa fa-spinner fa-pulse fa-fw"></i></button>

        </form>
    </div>
    <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
        <p>
            <small style=" color: #783218;" class="text-muted">© 2017 SystemEXE VN Co., Ltd. All rights reserved</small>
        </p>
    </div>
</div>

<login-modal #childModal [title]="'common modal'">
    <div class="modal-body">
        Hi heloo </div>
</login-modal>