.container {
    color: black;
    /* background: linear-gradient(to bottom, #68EACC 0%, #497BE8 100%);*/
}

.text-muted {
    color: #ffffff;
}

.form-control-feedback {
    color: gray;
}

.wrapper {
    padding: 10px;
    color: #43383a !important;
}

.title {
    color: #783218;
    font-size: 29px;
    font-weight: 600;
    font-family: fantasy;
}

.message {
    color: #666;
    font-size: 15px;
}

.form-control-feedback {
    position: absolute;
    top: 7px;
    left: 10px;
    z-index: 0;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
}

.form-control {
    padding-left: 36px;
}