<section class="content">

    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="title-name">
                    <h3>Items</h3>
                    <h5>(Thai , italia, phap)</h5>
                </div>
                <div class="box-header">
                    <div class="box-header-left">
                        <ng-select class="ng-select" #SelectId [allowClear]="true" [items]="items" [disabled]="disabled" (data)="refreshValue($event)" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="ALL" [active]="[value]">
                        </ng-select>
                    </div>
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" (click)="createItem()"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let item of itemLst">
                        <div class=" box-body-height">
                            <div class="panel">
                                <div class="info-box">
                                    <span class="info-box-icon"><img alt="" class=" img-responsive pull-left" src="{{item.thumb}}" style="height: 89px;"></span>

                                    <div class="info-box-content">
                                        <span class="info-box-itemName"><span class='fa fa-circle iconItemName'></span>{{item.name}}</span>
                                        <span class="info-box-price">{{item.price}}  ( {{item.point}} point)</span>
                                        <div class="info-box-button">
                                            <button class="card btn btn-social-icon  btn-info" (click)="editItem(item)"><i class=" fa-pencil fa "></i></button>
                                            <button class="card btn btn-social-icon btn-danger btn-google " (click)="deleteItem(item)"><i class="fa fa-trash "></i></button>

                                            <button id="item.id" *ngIf="item.active_flg==1 " class=" btn btn-success btn-social-icon" (click)="updateItem(item,0)" style="border-radius:50px;    margin-top: 4px;"><i class="fa-unlock fa " style="color:#fff"> <strong>activated</strong></i></button>
                                            <button id="item.id" *ngIf="item.active_flg==0 " class=" btn btn-social-icon " (click)="updateItem(item,1)" style="border-radius:50px;background:gray;    margin-top: 4px;"><i class="fa-lock fa " style="color:#fff"> <strong>deactivated</strong></i></button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix "></div>
                </div>
            </div>
        </div>
    </div>
</section>