.panel {
    background-color: #fff;
    height: 100%;
    padding-bottom: 50px;
}

.info-box-itemName {
    text-transform: uppercase;
    font-size: 17px;
    font-weight: bold;
}

.info-box-content .info-box-button {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
    padding-top: 2px;
}

.box-body .box-body-height {
    margin-top: 10px;
}

.progress-description,
.info-box-itemName,
.info-box-price {
    display: block;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 15px;
}

.info-box {
    padding-top: 15px;
}

.box-body .info-box .info-box-icon img {
    max-width: 70px;
    margin: 0px auto;
    margin-bottom: 12px;
    border: 2px solid #fff;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
    border-radius: 80px;
    height: 70px!important;
    width: 70px;
    margin-left: 30px;
}

.box-header .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 5px;
    margin-right: 2px;
}

.info-box-content .card {
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 35px;
    margin-top: 3px;
    margin-right: 2px;
    padding-top: 8px;
    padding-left: 12px;
}

.box-header {
    background-color: #09a89e;
}

.box-header-right {
    float: right;
    height: 45px;
    margin-right: 10px;
}

.box-header-left {
    float: left;
    height: 45px;
    margin-right: 10px;
    margin-left: 15px;
}

.content {
    padding: 10px;
}

.box-body {
    padding: 10px;
    background: #eee;
}

.title-name {
    font: bold;
}

.box-header .ng-select {
    float: left;
    margin-bottom: 0px;
    border-radius: 30px;
    height: 35px;
    width: 150px;
    margin-top: 5px;
    margin-right: 2px;
}

.iconItemName {
    color: red;
    padding-right: 10px;
}

.panel {
    padding-bottom: 20px !important;
}