<!-- <nav class="navbar navbar-inverse" role="navigation">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-menu-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/">{{ title }}</a>
	</div>
	<div class="collapse navbar-collapse navbar-menu-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li class="active"> <a routerLink="/dashboard" routerLinkActive="active">Dashboard</a></li>
			<li class="active"><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
		</ul>
	</div>
</nav>
<div class="container">
	<router-outlet></router-outlet>
</div> -->

<router-outlet></router-outlet>
<!-- <ui-view></ui-view> -->