<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        Email Marketing
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class=" box-body-height">
                            <div class="panel">
                                <div class="info-box">
                                    <div class="info-box-content news-list">
                                        <div class="tab-content">
                                            <form [formGroup]="sendMarketingMail" (ngSubmit)="sendEmail()" novalidate class="form-validation">
                                                <div class='order-price'>
                                                    <div>
                                                        <span class='pull-left bold text-right title'>  Subject:  </span>
                                                        <br>
                                                        <div class="form-group">
                                                            <input type="text" id="subject" name="subject" [formControl]="subject" placeholder="Subject..." style="float:left" class="form-control">
                                                            <a class="card btn btn-social-icon" style="float:right;color:red"><i class="fa-times fa"></i></a>
                                                        </div>
                                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                                        <div style="margin: 4% 0 0 0;width:97%" *ngIf="sendMarketingMail.controls['subject'].hasError('required') && sendMarketingMail.controls['subject'].touched" class="alert alert-danger">You must add an subject.</div>
                                                        <!--<div *ngIf="sendMarketingMail.subject && sendMarketingMail.subject?.length > 0" class="alert alert-danger">
                                                        <div *ngFor="let item of sendMarketingMail.subject">
                                                            {{item}}
                                                        </div>
                                                    </div>-->

                                                        <div class='clearfix'> </div>
                                                    </div>

                                                    <div class='border-line'> </div>
                                                    <div>
                                                        <span class='pull-left bold text-right title'> Send To: </span>
                                                        <br>
                                                        <div class="form-group">
                                                            <input multiple pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4};*[\W]*)+$" type="text" id="sendto" name="sendto" [formControl]="sendto" placeholder="Send to..." style="float:left" class="form-control">
                                                            <a class="card btn btn-social-icon" (click)="openModal(1)" style="float:right;"><i class="fa-plus fa"></i></a>
                                                        </div>
                                                        <div style="margin: 4% 0 0 0;;width:97%" *ngIf="sendMarketingMail.controls['sendto'].hasError('required') && sendMarketingMail.controls['sendto'].touched" class="alert alert-danger">You must add an email.</div>
                                                        <div class='clearfix'> </div>
                                                    </div>
                                                    <div class='border-line'> </div>
                                                    <div>

                                                        <span class='pull-left bold text-right title'> Send CC: </span>
                                                        <br>
                                                        <div class="form-group">
                                                            <input multiple pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4};*[\W]*)+$" type="text" id="sendcc" name="sendcc" [formControl]="sendcc" placeholder="Send CC..." style="float:left" class="form-control">
                                                            <a class="card btn btn-social-icon" (click)="openModal(2)" style="float:right;"><i class="fa-plus fa"></i></a>
                                                        </div>
                                                        <div class='clearfix'> </div>
                                                    </div>
                                                    <div class='border-line'> </div>
                                                    <div>
                                                        <span class='pull-left bold text-right title'> Send BCC: </span>
                                                        <br>
                                                        <div class="form-group">
                                                            <input multiple pattern="^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4};*[\W]*)+$" type="text" id="sendbcc" name="sendbcc" [formControl]="sendbcc" placeholder="Send BCC..." style="float:left" class="form-control">
                                                            <a class="card btn btn-social-icon" (click)="openModal(3)" style="float:right;"><i class="fa-plus fa"></i></a>
                                                        </div>

                                                        <div class='clearfix'> </div>
                                                    </div>


                                                    <div class='border-line'> </div>

                                                    <div class="form-group">

                                                        <span class='pull-left bold text-right title'> Content:  </span>
                                                        <br>
                                                        <textarea name="content" id="content" [formControl]="content" placeholder="" class="form-control"></textarea>



                                                        <div class='clearfix'> </div>
                                                    </div>
                                                    <div style="width:97%" *ngIf="sendMarketingMail.controls['content'].hasError('required') && sendMarketingMail.controls['content'].touched" class="alert alert-danger">Content can't be empty.</div>
                                                    <br>
                                                    <div class="OptionButton">
                                                        <button style="float: right" class="btn btn-success" type="button" (click)="sendEmail()"><i class="fa fa-paper-plane"></i> SEND </button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<subscribe-list-modal #childModal [title]="'common modal'">
    <div class="modal-body">
    </div>
</subscribe-list-modal>