<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        {{action[0]}} Contact
                    </div>
                </div>
                <div class="box-body no-padding">
                    <div class="tab-pane" id="image">
                        <form [formGroup]="dtForm" novalidate class="form-validation">
                            <div class="list-group-item">
                                <div class='row'>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Name <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="256" placeholder="Input name..." class="form-control" name='name' [formControl]="name">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.name && formErrors.name?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.name">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Phone Number</label>
                                            <input type="text" maxlength="32" placeholder="Input phone number..." class="form-control" name='phone' [formControl]="phone">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.phone && formErrors.phone?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.phone">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="titleBold">Email <label class="text-danger">*</label></label>
                                            <input type="text" maxlength="256" placeholder="Input email..." class="form-control" name='email' [formControl]="email">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.email && formErrors.email?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.email">
                                                {{item}}
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="titleBold">Address</label>
                                            <input type="text" maxlength="1536" placeholder="Input address..." class="form-control" name='address' [formControl]="address">
                                        </div>
                                        <span class="glyphicon glyphicon-enveloppe form-control-feedback"></span>
                                        <div *ngIf="formErrors.address && formErrors.address?.length > 0" class="alert alert-danger">
                                            <div *ngFor="let item of formErrors.address">
                                                {{item}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="margin-top-10">
                                        <button class="btn" type="button" [routerLink]="['/contact']">CANCEL</button>
                                        <button class="btn btn-success" (click)="doSaveContact()">{{action[1]}}</button>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>