<div class="layout-container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="box-header">
                    <div class="box-header-left">
                        News
                    </div>
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" [routerLink]="['/news/create']" (click)="doSetScope(null)"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="box-body no-padding">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class=" box-body-height">
                            <div class="panel">
                                <div class="info-box">
                                    <div class="info-box-content news-list">
                                        <div class="tab-content">
                                            <h4>Total News {{newsList != null ? newsList.length : ''}}</h4>
                                            <h5 class="text-red">&#9733;&#9733;Note:- unsubscribe news will not be display in below list.</h5>
                                            <div class="tab-pane fade active in" id="verified">
                                                <div class="table-responsive">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Image</th>
                                                                <th>Description</th>
                                                                <th class="wDateTime text-center">Issue Date</th>
                                                                <th class="wAction">Action</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr *ngFor="let row of data">
                                                                <td><img class="img-responsive" src="{{row.thumb ? row.thumb : 'http://www.placehold.it/70x39/EFEFEF/AAAAAA&amp;text=no+image'}}" /></td>
                                                                <td>
                                                                    <div class="newsTitle">
                                                                       <b> {{row.title}} </b>
                                                                    </div>
                                                                    <div [innerHTML]="row.description"></div>
                                                                    
                                                                </td>
                                                                <td class="text-center">{{row.issue_date}}</td>
                                                                <td>
                                                                    <a class="card btn btn-social-icon btn-success" [routerLink]="['/news/edit', row.id]" (click)="doSetScope(row)"><i class="fa-pencil fa"></i></a>
                                                                    <a class="card btn btn-social-icon btn-danger btn-google" (click)="doDeleteNews(row)"><i class="fa fa-trash"></i></a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <pagination class="pull-right" [totalItems]="totalItems" [(ngModel)]="currentPage" [itemsPerPage]="itemsPerPage" [maxSize]="maxSize" previousText="&lsaquo;" nextText="&rsaquo;" [boundaryLinks]="true" firstText="&laquo;" lastText="&raquo;" (pageChanged)="pageChanged($event)"></pagination>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>