<section class="content">
    <div class="row">
        <div class="col-sm-12 col-md-12">
            <div class="box no-border bg-body-box">
                <div class="page-list overwrite overwrite_add ng-scope">
                    <div class="box-shadow-panel panel panel-default panel-master">
                        <div class="panel-heading" style="background:#09a89e; color:white;">
                            <i class="fa fa-bar-chart"></i> &nbsp;Planing
                        </div>

                        <div class="panel-body">

                            <div class="row" style="margin-top:0px">
                                <!-- Năm -->
                                <div class="col-md-1">
                                    <div class="form-group form-inline">
                                        <label style="line-height: 35px; width:150px">Report Year: </label>

                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group form-inline">

                                        <ng-select class="ng-select" #SelectId [allowClear]="true" [disabled]="disabled" (selected)="selected($event)" (removed)="removed($event)" (typed)="typed($event)" placeholder="ALL" [active]="[value]">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <form [formGroup]="dtForm" novalidate class="form-validation">
                                <!-- Kế hoạch -->
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="fixed-table-container" style="margin-top: 30px;">
                                            <div class="table-wrapper fixed-table-body table-responsive ">
                                                <table id="table" class="table table-hover table-bordered table-striped">
                                                    <thead>
                                                        <tr>
                                                            <th class="tb-border" style="text-align: center; vertical-align: middle; width:100px;background:#7ec22f; color:white; " rowspan="2">
                                                                <div class="th-inner sortable both">Turn over</div>
                                                                <div class="fht-cell"></div>
                                                            </th>
                                                            <th class="tb-border" style="text-align: center;background:#7ec22f; color:white;  " colspan="12" tabindex="0">
                                                                <div class="th-inner ">Turn over planing in Year: {{value.text}} VND</div>
                                                                <div class="fht-cell"></div>
                                                            </th>

                                                        </tr>
                                                        <tr class="sub-header-item">
                                                            <th *ngFor="let item of barChartLabels" style="text-align: center; background:#7ec22f; color:white; ">
                                                                <div class="th-inner sortable both">{{item}}</div>
                                                                <div class="fht-cell"></div>
                                                            </th>

                                                        </tr>
                                                    </thead>
                                                    <tbody class="content-list">
                                                        <tr>
                                                            <td style="text-align: center; vertical-align: middle; ">Actual

                                                            </td>
                                                            <td *ngFor="let value of turnOverByMonth">
                                                                <input class="form-control" disabled="true" type="number" min="0" value="{{value}}">
                                                            </td>

                                                        </tr>

                                                        <tr>
                                                            <td style="text-align: center; vertical-align: middle; ">Planing

                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='january' [formControl]="january" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='february' [formControl]="february" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='march' [formControl]="march" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='april' [formControl]="april" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='may' [formControl]="may" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='june' [formControl]="june" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='july' [formControl]="july" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='august' [formControl]="august" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='september' [formControl]="september" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='october' [formControl]="october" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='november' [formControl]="november" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                            <td>
                                                                <input type="text" maxlength="256" class="form-control" name='december' [formControl]="december" pattern="[0-9]*\.?[0-9]*">
                                                            </td>
                                                        </tr>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </form>
                            <!-- Lưu thông tin -->
                            <div class="form-group mg20 ">
                                <button type="submit " (click)="doSaveTurnOverPlaning()" class="btn btn-submit btn-size-normal " style="background:orangered;color:white"><i class="glyphicon glyphicon-floppy-saved "></i>&nbsp;Save</button> </div>

                        </div>

                    </div>

                </div>
                <div class="panel-heading " style="background:#09a89e; color:white; ">
                    <i class="fa fa-bar-chart "></i> &nbsp;Statistic
                </div>
                <div class="layout-container ">
                    <div class="component-content history-order-detail ">
                        <div class="row ">

                            <div class='col-md-6 col-sm-6'>
                                <div>
                                    <div style="display: block ">
                                        <canvas baseChart [datasets]="barChartData " [labels]="barChartLabels " [options]="barChartOptions " [legend]="barChartLegend " [chartType]="barChartType " (chartHover)="chartHovered($event) " (chartClick)="chartClicked($event) "></canvas>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6">
                                <div style="display: block;">
                                    <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"></canvas>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>