<div class="layout-container">

    <div>
        <div class="page-list overwrite booking">
            <div class="box-shadow-panel panel panel-master">
                <div class="box-header">
                    <span style=" margin-left:15px;   line-height: 43px;
    color: white;
    font-size: 18px;"> Booking Schedule: Table 1 - Floor 1</span>
                    <div class="box-header-right">
                        <a class="card btn btn-social-icon" (click)="reserveTable()"><i class="fa-plus fa"></i></a>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <br>


                <div class="panel-body">
                    <div class="panel panel-default">

                        <div class="panel-body table-responsive">
                            <div class="fix-column">
                                <table class="table table-striped table-hover table-label table-stadium table-bordered" ng-if="stadiumList.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="headcol col-san" style=" min-width:200px !important;">Date</th>
                                            <th colspan="2" class="title no-fix-column" *ngFor="let itemTime of Settings.timeMstList">{{itemTime}}:00</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of scheduleList; let j = index">

                                            <td style="word-wrap: break-word" class="headcol col-san">{{item.time}}</td>
                                            <td class="no-fix-column col-schedule">&nbsp;</td>

                                            <td class="no-fix-column col-schedule" *ngFor="let itemChild of timeList; let i = index" ng-class="not-set" ng-click="chooseSpaceTime(item, itemChild)">

                                                <div (click)="reserveTable()" title="{{itemChild.stTime}} - {{itemChild.endTime == '23:59' ? '24:00' : itemChild.endTime}}{{itemChild.cusName}}" ng-class="{'checkFlg': itemChild.checkFlg == 1, 'endFlg': itemChild.endFlg == 1, 'khachthang': itemChild.loaiKhach=='1'}"
                                                    class=" {{(i == 2 || i ==3 || i == 4) && (j == 2 || j == 5) || (i == 11 || i==12 || i == 13 || i ==9 || i == 8) && (j == 2 || j == 7) || (i == 20 || i==19 || i == 15 || i ==16 || i == 18) && (j == 2 || j == 7 || j == 1 || j == 3)  ? 'khachthang' : ''}} ">&nbsp;</div>
                                            </td>

                                            <td class="no-fix-column col-schedule">&nbsp;</td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                    </div>

                </div>
            </div>
            <div id="loadingCSS" ng-show="Settings.isLoad == true;"></div>
        </div>

    </div>
</div>